{% set fields = [{
    label: 'Username',
    handle: 'username',
    default: forms.textField({
        id: 'fieldDefaults-username',
        name: 'fieldDefaults[username]',
        value: feed.fieldDefaults.username ?? '',
    }),
}, {
    label: 'First Name',
    handle: 'firstName',
    default: forms.textField({
        id: 'fieldDefaults-firstName',
        name: 'fieldDefaults[firstName]',
        value: feed.fieldDefaults.firstName ?? '',
    }),
}, {
    label: 'Last Name',
    handle: 'lastName',
    default: forms.textField({
        id: 'fieldDefaults-lastName',
        name: 'fieldDefaults[lastName]',
        value: feed.fieldDefaults.lastName ?? '',
    }),
}, {
    label: 'Email',
    handle: 'email',
    default: forms.textField({
        id: 'fieldDefaults-email',
        name: 'fieldDefaults[email]',
        value: feed.fieldDefaults.email ?? '',
    }),
}, {
    label: 'Photo',
    handle: 'photo',
    default: forms.textField({
        id: 'fieldDefaults-photo',
        name: 'fieldDefaults[photo]',
        value: feed.fieldDefaults.photo ?? '',
    }),
}, {
    label: 'Preferred Locale',
    handle: 'preferredLocale',
    default: forms.textField({
        id: 'fieldDefaults-preferredLocale',
        name: 'fieldDefaults[preferredLocale]',
        value: feed.fieldDefaults.preferredLocale ?? '',
    }),
}, {
    label: 'Password',
    handle: 'newPassword',
    default: forms.textField({
        id: 'fieldDefaults-newPassword',
        name: 'fieldDefaults[newPassword]',
        value: feed.fieldDefaults.newPassword ?? '',
    }),
}, {
    label: 'Status',
    handle: 'status',
    instructions: 'Choose either a default status from the list or the imported field that will contain the status.' | t,
    default: forms.selectField({
        id: 'fieldDefaults-status',
        name: 'fieldDefaults[status]',
        value: feed.fieldDefaults.status ?? '',
        options: [
            { label: 'Don\'t import', value: '' },
            { label: 'Active', value: 'active' },
            { label: 'Locked', value: 'locked' },
            { label: 'Suspended', value: 'suspended' },
            { label: 'Archived', value: 'archived' },
            { label: 'Pending', value: 'pending' },
        ],
    }),
}, {
    label: 'User ID' | t,
    handle: 'id',
    instructions: '<strong class="error">Warning: </strong>This should only be used for an existing Craft User ID.' | t,
    default: forms.textField({
        id: 'fieldDefaults-id',
        name: 'fieldDefaults[id]',
        value: feed.fieldDefaults.id ?? '',
    }),
}] %}

<h2>{{ 'User Fields' | t }}</h2>

<table class="feedme-mapping data fullwidth collapsible">
    <thead>
        <th>{{ 'Field' | t }}</th>
        <th>{{ 'Feed Element' | t }}</th>
        <th>{{ 'Default Value' | t }}</th>
    </thead>
    <tbody>
        {% for field in fields %}
            {{ feedMeMacro.generateRow(_context, field) }}
        {% endfor %}
    </tbody>
</table>

{% set groups = craft.feedMe.getElementTypeGroups(elementType) %}

{% set groupFields = [{
    label: 'User Groups',
    handle: 'groups',
    instructions: 'Select the groups this user should be assigned to.' | t,
    default: forms.checkboxGroup({
        id: 'fieldDefaults-groups',
        name: 'fieldDefaults[groups]',
        options: craft.feedme.getSelectOptions(groups, 'name', 'id', false),
        values: feed.fieldDefaults.groups ?? '',
    })
}] %}

<h2>{{ 'User Groups' | t }}</h2>

<table class="feedme-mapping data fullwidth collapsible">
    <thead>
        <th>{{ 'Field' | t }}</th>
        <th>{{ 'Feed Element' | t }}</th>
        <th>{{ 'Default Value' | t }}</th>
    </thead>
    <tbody>
        {% for field in groupFields %}
            {{ feedMeMacro.generateRow(_context, field) }}
        {% endfor %}
    </tbody>
</table>

{% set profileFields = craft.fields.getLayoutByType('User').getFields() %}

{% if profileFields %}
    <hr>

    <h2>{{ 'Profile Fields' | t }}</h2>

    <table class="feedme-mapping data fullwidth collapsible">
        <thead>
            <th>{{ 'Field' | t }}</th>
            <th>{{ 'Feed Element' | t }}</th>
            <th>{{ 'Default Value' | t }}</th>
        </thead>
        <tbody>
            {% for fieldtype in profileFields %}
                {% set field = fieldtype.getField() %}
                
                {% set variables = { field: field, fieldtype: fieldtype, feed: feed, feedData: feedData } %}
                {% include 'feedme/_includes/field' with variables %}
            {% endfor %}
        </tbody>
    </table>
{% endif %}

<hr>

<h2>{{ "Set a unique identifier for existing elements" | t }}</h2>

<p>{{ "Select the fields you want to use to check for existing elements. When selected, Feed Me will look for existing elements that match the fields provided below and either update, or skip depending on your choice of Import Strategy." | t }}</p>

{% for fieldtype in profileFields %}
    {% set field = fieldtype.getField() %}

    {% set fields = fields | merge([{ label: field.name, handle: field.handle }]) %}
{% endfor %}

<div class="feedme-uniques">
    {% for field in fields %}
        {{ forms.checkboxField({
            name: 'fieldUnique[' ~ field.handle ~ ']',
            label: field.label,
            checked: feed.fieldUnique[field.handle] ?? '',
        }) }}
    {% endfor %}
</div>
