{% extends 'feed-me/_layouts/settings' %}

{% import '_includes/forms' as forms %}

{% set fullPageForm = true %}

{% block content %}
    <input type="hidden" name="action" value="plugins/save-plugin-settings">
    <input type="hidden" name="pluginHandle" value="feed-me">

    {% namespace 'settings' %}

    {{ forms.textField({
        id: 'pluginName',
        name: 'pluginName',
        label: 'Plugin Name'|t('feed-me'),
        value: settings.pluginName,
        first: true,
        autofocus: true,
        instructions: 'Plugin name for the end user.'|t('feed-me'),
    }) }}

    {{ forms.textField({
        id: 'cache',
        name: 'cache',
        label: 'Cache Duration'|t('feed-me'),
        value: settings.cache,
        instructions: 'Cache duration (in seconds) to cache requests. Note: this only affects calls using the template tag - requests are never cached when triggering directly via the CP.'|t('feed-me'),
    }) }}

    <hr>

    {{ forms.checkboxSelectField({
        id: 'enabledTabs',
        name: 'enabledTabs',
        label: 'Enabled Tabs'|t('feed-me'),
        showAllOption: true,
        options: {
            'feeds': 'Feeds'|t('feed-me'),
            'logs': 'Logs'|t('feed-me'),
            'settings': 'Settings'|t('feed-me'),
        },
        values: settings.enabledTabs,
        instructions: 'Choose which tabs you would like to be shown.'|t('feed-me'),
    }) }}

    <hr>

    <a class="btn" href="{{ actionUrl('feed-me/base/clear-tasks') }}">
        {{ "Clear pending job queue"|t('feed-me') }}
    </a>

    {% endnamespace %}

    {{ parent() }}
{% endblock %}
