# CRAFT ENVIRONMENT
.env.php
.env.sh
tests/.env

# COMPOSER
/vendor

# BUILD FILES
/bower_components/*
/node_modules/*
/build/*
/yarn-error.log

# MISC FILES
*.DS_Store
*.idea/*
*.log
*Thumbs.db
.env
/.claude
test-results
/.ddev

## TESTS
/tests/_craft/storage
/tests/_craft/.env
