{% set orderSettings = craft.feedMe.getOrderSettings() %}

{% set fields = [{
    label: 'Number',
    handle: 'number',
}, {
    label: 'Email',
    handle: 'email',
    default: forms.textField({
        id: 'fieldDefaults-email',
        name: 'fieldDefaults[email]',
        value: feed.fieldDefaults.email ?? '',
    }),
}, {
    label: 'Is Completed',
    handle: 'isCompleted',
    default: forms.selectField({
        id: 'fieldDefaults-isCompleted',
        name: 'fieldDefaults[isCompleted]',
        value: feed.fieldDefaults.isCompleted is defined ? feed.fieldDefaults.isCompleted : '',
        options: [
            { label: 'Don\'t import', value: '' },
            { label: 'Yes', value: '1' },
            { label: 'No', value: '0' },
        ],
    }),
}, {
    label: 'Coupon Code',
    handle: 'couponCode',
    default: forms.textField({
        id: 'fieldDefaults-couponCode',
        name: 'fieldDefaults[couponCode]',
        value: feed.fieldDefaults.couponCode ?? '',
    }),
}, {
    label: 'Last IP',
    handle: 'lastIp',
    default: forms.textField({
        id: 'fieldDefaults-lastIp',
        name: 'fieldDefaults[lastIp]',
        value: feed.fieldDefaults.lastIp ?? '',
    }),
}, {
    label: 'Order Status',
    handle: 'orderStatusId',
    default: forms.selectField({
        id: 'fieldDefaults-orderStatusId',
        name: 'fieldDefaults[orderStatusId]',
        value: feed.fieldDefaults.orderStatusId ?? '',
        options: craft.feedMe.getSelectOptions(craft.commerce.getOrderStatuses()),
    }),
}, {
    label: 'Shipping Method',
    handle: 'shippingMethod',
    default: forms.selectField({
        id: 'fieldDefaults-shippingMethod',
        name: 'fieldDefaults[shippingMethod]',
        value: feed.fieldDefaults.shippingMethod ?? '',
        options: craft.feedMe.getSelectOptions(craft.commerce.getShippingMethods()),
    }),
}, {
    label: 'Payment Method',
    handle: 'paymentMethodId',
    default: forms.selectField({
        id: 'fieldDefaults-paymentMethodId',
        name: 'fieldDefaults[paymentMethodId]',
        value: feed.fieldDefaults.paymentMethodId ?? '',
        options: craft.feedMe.getSelectOptions(craft.commerce.getPaymentMethods()),
    }),
}, {
    label: 'Customer',
    handle: 'customerId',
}, {
    label: 'Date Ordered',
    handle: 'dateOrdered',
    instructions: 'Accepts Unix timestamp, or just about any English textual datetime description.' | t,
    default: forms.dateTimeField({
        id: 'fieldDefaults-dateOrdered',
        name: 'fieldDefaults[dateOrdered]',
        value: feed.fieldDefaults.dateOrdered is defined ? craft.feedme.formatDateTime(feed.fieldDefaults.dateOrdered) : '',
    })
}, {
    label: 'Date Paid',
    handle: 'datePaid',
    instructions: 'Accepts Unix timestamp, or just about any English textual datetime description.' | t,
    default: forms.dateTimeField({
        id: 'fieldDefaults-datePaid',
        name: 'fieldDefaults[datePaid]',
        value: feed.fieldDefaults.datePaid is defined ? craft.feedme.formatDateTime(feed.fieldDefaults.datePaid) : '',
    })
}, {
    label: 'Order ID' | t,
    handle: 'id',
    instructions: '<strong class="error">Warning: </strong>This should only be used for an existing Craft Commerce Order ID.' | t,
    default: forms.textField({
        id: 'fieldDefaults-id',
        name: 'fieldDefaults[id]',
        value: feed.fieldDefaults.id ?? '',
    }),
}] %}

<h2>{{ 'Order Fields' | t }}</h2>

<table class="feedme-mapping data fullwidth collapsible">
    <thead>
        <th>{{ 'Field' | t }}</th>
        <th>{{ 'Feed Element' | t }}</th>
        <th>{{ 'Default Value' | t }}</th>
    </thead>
    <tbody>
        {% for field in fields %}
            {% if field.handle == 'number' %}
                {{ feedMeMacro.generateOrderNumberRow(_context, field) }}
            {% else %}
                {{ feedMeMacro.generateRow(_context, field) }}
            {% endif %}
        {% endfor %}
    </tbody>
</table>

{% set paymentFields = [{
    label: 'Item Total',
    handle: 'itemTotal',
}, {
    label: 'Base Discount',
    handle: 'baseDiscount',
}, {
    label: 'Base Shipping Cost',
    handle: 'baseShippingCost',
}, {
    label: 'Base Tax',
    handle: 'baseTax',
}, {
    label: 'Total Price',
    handle: 'totalPrice',
}, {
    label: 'Total Paid',
    handle: 'totalPaid',
}, {
    label: 'Currency',
    handle: 'currency',
    default: forms.selectField({
        id: 'fieldDefaults-currency',
        name: 'fieldDefaults[currency]',
        value: feed.fieldDefaults.currency ?? '',
        options: craft.feedMe.getSelectOptions(craft.commerce.getPaymentCurrencies()),
    }),
}, {
    label: 'Payment Currency',
    handle: 'paymentCurrency',
    default: forms.selectField({
        id: 'fieldDefaults-paymentCurrency',
        name: 'fieldDefaults[paymentCurrency]',
        value: feed.fieldDefaults.paymentCurrency ?? '',
        options: craft.feedMe.getSelectOptions(craft.commerce.getPaymentCurrencies()),
    }),
}] %}

<h2>{{ 'Payment Fields' | t }}</h2>

<table class="feedme-mapping data fullwidth collapsible">
    <thead>
        <th>{{ 'Field' | t }}</th>
        <th>{{ 'Feed Element' | t }}</th>
        <th>{{ 'Default Value' | t }}</th>
    </thead>
    <tbody>
        {% for field in paymentFields %}
            {{ feedMeMacro.generateRow(_context, field) }}
        {% endfor %}
    </tbody>
</table>

{% set addressFields = [{
    label: 'Billing Address',
    handle: 'billingAddressId',
}, {
    label: 'Shipping Address',
    handle: 'shippingAddressId',
}] %}

<h2>{{ 'Address Fields' | t }}</h2>

<table class="feedme-mapping data fullwidth collapsible">
    <thead>
        <th>{{ 'Field' | t }}</th>
        <th>{{ 'Feed Element' | t }}</th>
        <th>{{ 'Default Value' | t }}</th>
    </thead>
    <tbody>
        {% for field in addressFields %}
            {{ feedMeMacro.generateRow(_context, field) }}
        {% endfor %}
    </tbody>
</table>

{% for tab in craft.fields.getLayoutById(orderSettings.fieldLayoutId).getTabs() %}
    <hr>

    <h2>{{ tab.name }} Fields</h2>

    <table class="feedme-mapping data fullwidth collapsible">
        <thead>
            <th>{{ 'Field' | t }}</th>
            <th>{{ 'Feed Element' | t }}</th>
            <th>{{ 'Default Value' | t }}</th>
        </thead>
        <tbody>
            {% for fieldtype in tab.getFields() %}
                {% set field = fieldtype.getField() %}

                {% set variables = { field: field, fieldtype: fieldtype, feed: feed, feedData: feedData } %}
                {% include 'feedme/_includes/field' with variables %}
            {% endfor %}
        </tbody>
    </table>
{% endfor %}

<hr>

<h2>{{ "Set a unique identifier for existing elements" | t }}</h2>

<p>{{ "Select the fields you want to use to check for existing elements. When selected, Feed Me will look for existing elements that match the fields provided below and either update, or skip depending on your choice of Import Strategy." | t }}</p>

{% set uniqueFields = fields %}

{% for field in paymentFields %}
    {% set uniqueFields = uniqueFields | merge([{ label: field.label, handle: field.handle }]) %}
{% endfor %}

{% for field in addressFields %}
    {% set uniqueFields = uniqueFields | merge([{ label: field.label, handle: field.handle }]) %}
{% endfor %}

{% for tab in craft.fields.getLayoutById(orderSettings.fieldLayoutId).getTabs() %}
    {% for fieldtype in tab.getFields() %}
        {% set field = fieldtype.getField() %}

        {% set uniqueFields = uniqueFields | merge([{ label: field.name, handle: field.handle }]) %}
    {% endfor %}
{% endfor %}

<div class="feedme-uniques">
    {% for field in uniqueFields %}
        {{ forms.checkboxField({
            name: 'fieldUnique[' ~ field.handle ~ ']',
            label: field.label,
            checked: feed.fieldUnique[field.handle] ?? '',
        }) }}
    {% endfor %}
</div>
