{% if handlePrefix is defined %}
    {% set fieldHandle = handlePrefix ~ field.handle %}
{% else %}
    {% set fieldHandle = field.handle %}
{% endif %}

{% if labelName is not defined %}
    {% set labelName = field.name %}
{% endif %}

{% if labelHandle is not defined %}
    {% set labelHandle = field.handle %}
{% endif %}

{% set defaultTemplate = 'feedme/_includes/fields/default' %}
{% set fieldTemplate = craft.feedMe.getFieldMapping(field.type) %}

{# Include all fields that can be mapped inside this element #}
{# Without some further refactoring, we can only support a subset of fields at the moment #}
{% set supportedSubElementFields = [
    'Checkboxes',
    'Color',
    'Date',
    'Dropdown',
    'Lightswitch',
    'Multiselect',
    'Number',
    'PlainText',
    'PositionSelect',
    'Radio',
    'RichText',
] %}

{% set variables = {
    field: field,
    feed: feed,
    feedData: feedData,
    fieldHandle: fieldHandle,
    labelName: labelName,
    labelHandle: labelHandle,
} %}

{% include [fieldTemplate, defaultTemplate] ignore missing with variables %}
