{% import '_includes/forms' as forms %}
{% import 'feed-me/_macros' as feedMeMacro %}

{% set users = [{ label: 'Don\'t import', value: '' }] %}
{% if CraftEdition == CraftSolo %}
    {% set user = craft.users().one() %}
    {% set users = users | merge([{ label: user, value: user.id }]) %}
{% endif %}

{% if CraftEdition == CraftPro %}
    {% for user in craft.users.all() %}
        {% set users = users | merge([{ label: user, value: user.id }]) %}
    {% endfor %}
{% endif %}

{% set fields = [{
    name: 'Comment',
    handle: 'comment',
    instructions: 'The contents of the comment.' | t('feed-me'),
    required: true,
    default: {
        type: 'text',
    },
}, {
    type: 'element',
    name: 'Owner',
    handle: 'ownerId',
    instructions: 'The element this comment was made on.' | t('feed-me'),
    required: true,
    default: {
        type: 'text',
    },
}, {
    name: 'Name',
    handle: 'name',
    instructions: 'The name of the commenter.' | t('feed-me'),
    default: {
        type: 'text',
    },
}, {
    name: 'Email',
    handle: 'email',
    instructions: 'The email of the commenter.' | t('feed-me'),
    default: {
        type: 'text',
    },
}, {
    name: 'IP Address',
    handle: 'ipAddress',
    default: {
        type: 'text',
    },
}, {
    name: 'User Agent',
    handle: 'userAgent',
    default: {
        type: 'text',
    },
}, {
    name: 'Status',
    handle: 'status',
    instructions: 'Choose the status for this comment.' | t('feed-me'),
    default: {
        type: 'select',
        options: [
            { label: 'Don\'t import', value: '' },
            { label: 'Approved', value: 'approved' },
            { label: 'Pending', value: 'pending' },
            { label: 'Spam', value: 'spam' },
            { label: 'Trashed', value: 'trashed' },
        ],
    },
}, {
    type: 'users',
    name: 'Author',
    handle: 'authorId',
    instructions: 'Comments will be assigned to the user in this field. If the field does not match any existing member, the default author will be assigned.' | t('feed-me'),
    default: {
        type: 'select',
        options: users,
    },
}, {
    name: 'Comment ID',
    handle: 'id',
    instructions: '<strong class="error">Warning: </strong>This should only be used for an existing Comment ID.' | t('feed-me'),
    default: {
        type: 'text',
    },
}] %}

<h2>{{ 'Comment Fields' | t('feed-me') }}</h2>

<table class="feedme-mapping data fullwidth collapsible">
    <thead>
        <th>{{ 'Field' | t('feed-me') }}</th>
        <th>{{ 'Feed Element' | t('feed-me') }}</th>
        <th>{{ 'Default Value' | t('feed-me') }}</th>
    </thead>
    <tbody>
        {% for field in fields %}
            {% set template = field.type ?? 'default' %}
            {% set variables = field | merge({ feed: feed, feedData: feedData, attribute: true }) %}

            {% include 'feed-me/_includes/fields/' ~ template ignore missing with variables only %}
        {% endfor %}
    </tbody>
</table>

<hr>

<h2>{{ "Set a unique identifier for existing elements" | t('feed-me') }}</h2>

<p>{{ "Select the fields you want to use to check for existing elements. When selected, Feed Me will look for existing elements that match the fields provided below and either update, or skip depending on your choice of Import Strategy." | t('feed-me') }}</p>

<div class="feedme-uniques">
    {% for field in fields if field and feedMeMacro.fieldCanBeUniqueId(field) %}
        {{ forms.checkboxField({
            name: 'fieldUnique[' ~ field.handle ~ ']',
            label: field.name,
            checked: feed.fieldUnique[field.handle] ?? '',
        }) }}
    {% endfor %}
</div>
