<!doctype html>
<html lang="en">
<head>
    <!-- Responsive-ness -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ 'Feed Me - {name} has started processing' | t({ name: feed.name }) }}</title>

    <!-- CSS -->
    {% includeCssResource 'css/craft.css' %}
    {% includeCssResource 'feedme/css/FeedMe.css' %}
</head>
<body class="message feedme-message">

<div class="message-container">
    <div id="message" class="pane">
        {% if task %}
            <div class="feedme-fullpage fullpage-running">
                <img src="{{ resourceUrl('feedme/icon-success.svg') }}">
                
                <h2>{{ '{name} has started processing' | t({ name: feed.name }) }}</h2>
                <p>{{ 'Data is now being imported from your feed. You can navigate away from this page without disrupting your feed processing.' | t }}</p>
            </div>
        {% else %}
            <div class="feedme-fullpage fullpage-error">
                <img src="{{ resourceUrl('feedme/icon-error.svg') }}">
                
                <h2>{{ 'Unable to start feed' | t }}</h2>
                <p>{{ 'Please check your passkey, and verify the URL is correct.' | t }}</p>
            </div>
        {% endif %}
    </div>
</div>
</body>
</html>