{% extends 'feedme/_layouts' %}

{% set crumbs = [
    { label: craft.feedme.getPluginName | t, url: url('feedme') },
] %}

{% if feed.id %}
    {% set crumbs = crumbs | merge([
        { label: feed.name | t, url: url('feedme/feeds/' ~ feed.id) },
    ]) %}
{% endif %}

{% set title = (feed.id) ? feed.name : 'Create a new feed' | t %}
{% set noTabs = true %}
{% set fullPageForm = true %}

{% block saveButton %}{% endblock %}

{% block blockContent %}
    <input type="hidden" name="action" value="feedMe/feeds/saveFeed">

    {% if feed.id %}<input type="hidden" name="feedId" value="{{ feed.id }}">{% endif %}

    {{ forms.textField({
        first: true,
        label: "Name" | t,
        instructions: "What this feed will be called in the CP." | t,
        id: 'name',
        name: 'name',
        value: feed.name,
        errors: feed.getErrors('name'),
        autofocus: true,
        required: true,
        translatable: true,
    }) }}

    {{ forms.textField({
        label: "Feed URL" | t,
        instructions: "Can be a file on the local file system or from a website url (http://...)." | t,
        id: 'feedUrl',
        name: 'feedUrl',
        value: feed.feedUrl,
        errors: feed.getErrors('feedUrl'),
        required: true,
    }) }}

    {{ forms.selectField({
        label: "Feed Type" | t,
        instructions: 'Choose what type of feed you\'re retrieving.' | t,
        id: 'feedType',
        name: 'feedType',
        options: feedTypes,
        value: feed.feedType,
        errors: feed.getErrors('feedType'),
        required: true,
    }) }}

    {{ forms.textField({
        label: "Primary Element" | t,
        instructions: "The primary element that contains the records you intend to parse. Selecting a Feed Type above will assist in most cases." | t,
        id: 'primaryElement',
        class: 'code',
        name: 'primaryElement',
        value: feed.primaryElement,
        errors: feed.getErrors('primaryElement'),
    }) }}

    <hr>

    {% set feedMeElementTypes = craft.feedMe.getElementTypes() %}

    {% set elementTypes = [] %}
    {% for elementType in craft.elements.getAllElementTypes %}
        {% if feedMeElementTypes[elementType.classHandle] is defined %}
            {% set elementTypes = elementTypes | merge({ (elementType.classHandle): elementType.name }) %}
        {% endif %}
    {% endfor %}

    {{ forms.selectField({
        label: "Element Type" | t,
        instructions: 'Choose what element you want to save your feed data to.' | t,
        id: 'elementType',
        name: 'elementType',
        options: [{ label: 'Select', value: '' }] | merge(elementTypes),
        value: feed.elementType,
        errors: feed.getErrors('elementType'),
        required: true,
    }) }}

    {% for elementType, elementTypeName in elementTypes %}
        <div class="element-select element-select-{{ elementType }}">
            {% set elementTypeGroups = craft.feedMe.getElementTypeGroupsTemplate(elementType) %}
            {% include elementTypeGroups ignore missing %}
        </div>
    {% endfor %}

    {% if craft.isLocalized() %}
        {% set locales = [{ label: 'All Locales' | t, value: '' }] %}

        {% for locale in craft.i18n.getSiteLocales() %}
            {% set locales = locales | merge([{ label: locale.name ~ ' (' ~ locale.id ~ ')', value: locale.id }]) %}
        {% endfor %}

        {{ forms.selectField({
            label: "Locale" | t,
            instructions: 'Choose which locale you want to save your feed data to.' | t,
            id: 'locale',
            name: 'locale',
            options: locales,
            value: feed.locale,
        }) }}
    {% endif %}

    <hr>

    <div class="field">
        <div class="heading">
            <label class="required">{{ "Import strategy" | t }}
                <span class="info">
                    <span style="display:inline-block;">
                        <strong>{{ "Create new element:" | t }}</strong> {{ "Adds new elements if they do not already exist." | t }}
                    </span>
                    <span style="display:inline-block;">
                        <strong>{{ "Update existing elements:" | t }}</strong> {{ "Updates elements that match the Unique Identifier (next step)." | t }}
                    </span>
                    <span style="display:inline-block;">
                        <strong>{{ "Disable missing elements:" | t }}</strong> {{ "Disables any elements that are missing from the feed." | t }}
                    </span>
                    <span style="display:inline-block;">
                        <strong>{{ "Delete missing elements:" | t }}</strong> {{ "Deletes any elements that are missing from the feed. Be careful." | t }}
                    </span>
                </span>
            </label>

            <div class="instructions">
                <p>{{ "Choose what happens when this feed is run again. Click tooltip above for explanation." | t }}</p>
            </div>
        </div>

        <div class="input ltr">
            {{ forms.checkboxGroup({
                label: "Import strategy" | t,
                instructions: 'Choose what happens when this feed is run again.' | t,
                id: 'duplicateHandle',
                name: 'duplicateHandle',
                options: {
                    'add': 'Create new elements' | t,
                    'update': 'Update existing elements' | t,
                    'disable': 'Disable missing elements' | t,
                    'delete': 'Delete missing elements' | t
                },
                values: feed.duplicateHandle ?? ['add'],
                required: true,
            }) }}
        </div>
    </div>

    <hr>

    {{ forms.textField({
        label: "Passkey" | t,
        instructions: "A generated, unique string to increase security against imports being run inadvertently. No need to change this." | t,
        id: 'passkey',
        name: 'passkey',
        value: (feed.passkey) ? feed.passkey : '',
        errors: feed.getErrors('passkey'),
        required: true,
        translatable: true,
    }) }}

    {{ forms.lightswitchField({
        first: true,
        label: 'Backup' | t,
        instructions: 'Perform a full backup each time this feed is processed.' | t,
        name: 'backup',
        on: (feed.id) ? feed.backup : true,
    }) }}

    <hr>

    {% set directUrl = actionUrl('/feedMe/feeds/runTask', { direct: true, feedId: feed.id, passkey: feed.passkey }) | replace(craft.config.cpTrigger ~ '/', '') %}

    {{ forms.textField({
        label: 'Direct Feed URL' | t,
        instructions: 'Copy and paste this URL for direct-access to processing this feed. Commonly used when triggering via a Cron Job.' | t,
        readonly: true,
        value: directUrl,
    }) }}

    <div class="field">
        <div class="heading">
            <label>{{ 'Duplicate Feed' | t }}</label>
            <div class="instructions">
                <p>{{ 'Quickly duplicate this feed, including all settings and field mappings.' | t }}</p>
            </div>
        </div>

        <div class="input ltr">
            <input type="button" data-action="feedMe/feeds/saveAndDuplicateFeed" class="btn" value="{{ 'Duplicate Feed' | t }}">
        </div>
    </div>

{% endblock %}

{% block footerButton %}
    <div class="buttons">
        <input type="button" data-action="feedMe/feeds/saveFeed" class="btn submit" value="{{ 'Save' | t }}">
        <input type="button" data-action="feedMe/feeds/saveAndMapFeed" class="btn submit" value="{{ 'Save & Continue' | t }}">
    </div>
{% endblock %}
