{% extends "_layouts/cp" %}

{% includeCssResource 'feedme/css/FeedMe.css' %}
{% includeJsResource 'feedme/js/FeedMe.js' %}

{% set crumbs = [
    { label: craft.feedme.getPluginName | t, url: url('feedme') },
] %}

{% if feed.id %}
    {% set crumbs = crumbs | merge([
        { label: feed.name | t, url: url('feedme/feeds/' ~ feed.id) },
    ]) %}
{% endif %}

{% set title = (feed.id) ? feed.name : 'Create a new feed' | t %}

{% import "_includes/forms" as forms %}

{% block content %}
    <form method="post" accept-charset="UTF-8" data-saveshortcut="1">
        <input type="hidden" name="action" value="">
        {{ getCsrfInput() }}

        {% if feed.id %}<input type="hidden" name="feedId" value="{{ feed.id }}">{% endif %}

        {{ forms.textField({
            first: true,
            label: "Name" | t,
            instructions: "What this feed will be called in the CP." | t,
            id: 'name',
            name: 'name',
            value: feed.name,
            errors: feed.getErrors('name'),
            autofocus: true,
            required: true,
            translatable: true,
        }) }}

        {{ forms.textField({
            label: "Feed URL" | t,
            instructions: "Can be a file on the local file system or from a website url (http://...)." | t,
            id: 'feedUrl',
            name: 'feedUrl',
            value: feed.feedUrl,
            errors: feed.getErrors('feedUrl'),
            required: true,
        }) }}

        {{ forms.selectField({
            label: "Feed Type" | t,
            instructions: 'Choose what type of feed you\'re retrieving.' | t,
            id: 'feedType',
            name: 'feedType',
            options: {'xml': 'XML Feed', 'rss': 'RSS Feed', 'atom': 'ATOM Feed', 'json': 'JSON Feed'},
            value: feed.feedType,
            required: true,
        }) }}

        {{ forms.textField({
            label: "Primary Element" | t,
            instructions: "The primary element that contains the records you intend to parse. Selecting a Feed Type above will assist in most cases." | t,
            id: 'primaryElement',
            class: 'code',
            name: 'primaryElement',
            value: feed.primaryElement,
            errors: feed.getErrors('primaryElement'),
        }) }}

        <hr>

        {% set sections = craft.feedme.getGroups() %}

        {{ forms.selectField({
            label: "Section" | t,
            instructions: 'Choose the Section you want to save your feed data to.' | t,
            id: 'section',
            name: 'section',
            options: craft.feedme.getSelectOptions(sections),
            value: feed.section,
            required: true,
        }) }}

        {% if craft.sections.getSectionById(feed.section) | length > 0 %}
            {% set entrytypes = (feed.id) ? craft.sections.getSectionById(feed.section).getEntryTypes() : '' %}
        {% else %}
            {% set entrytypes = [] %}
        {% endif %}

        {{ forms.selectField({
            label: "Entry Type" | t,
            instructions: 'Choose the Entry Type you want to save your feed data to.' | t,
            id: 'entrytype',
            name: 'entrytype',
            options: craft.feedme.getSelectOptions(entrytypes),
            value: feed.entrytype,
            required: true,
        }) }}

        {% if craft.isLocalized() %}
            {% set locales = [] %}

            {% for locale in craft.i18n.getSiteLocales() %}
                {% set locales = locales | merge([{ label: locale.name ~ ' (' ~ locale.id ~ ')', value: locale.id }]) %}
            {% endfor %}

            {{ forms.selectField({
                label: "Locale" | t,
                instructions: 'Choose which locale you want to save your feed data to.' | t,
                id: 'locale',
                name: 'locale',
                options: locales,
                value: feed.locale,
            }) }}
        {% endif %}

        <hr>

        {{ forms.selectField({
            label: "Import strategy <span class='info'><span style='display:inline-block;'><strong>Add Unique Only:</strong> Duplicate entries will be skipped, new entries however, will be added. <em>\"I want to keep existing entries untouched but add new ones.\"</em></span><span style='display:inline-block;'><strong>Add and Update existing:</strong> Select fields to compare duplicate entries with, updating all other fields.<em>\"I want to update existing entries and add new ones.\"</em></span><span style='display:inline-block;'><strong>Delete Entries existing:</strong> Update any existing entries, and delete any entries not updated by this feed. Be careful.<em>\"I want only the entries from this feed in this section.\"</em></span></span>" | t,
            instructions: 'Choose what happens when this feed is run again. Click tooltip above for explanation.',
            id: 'duplicateHandle',
            name: 'duplicateHandle',
            options: {'add': 'Add Unique Only', 'update': 'Add and Update existing', 'delete': 'Delete old and Update existing'},
            value: feed.duplicateHandle,
            required: true,
        }) }}

        <hr>

        {{ forms.textField({
            label: "Passkey" | t,
            instructions: "A generated, unique string to increase security against imports being run inadvertently. No need to change this." | t,
            id: 'passkey',
            name: 'passkey',
            value: (feed.passkey) ? feed.passkey : uniqid(10),
            errors: feed.getErrors('passkey'),
            required: true,
            translatable: true,
        }) }}

        {{ forms.lightswitchField({
            first: true,
            label: 'Backup',
            instructions: 'Perform a full backup each time this feed is processed.' | t,
            name: 'backup',
            on: (feed.id) ? feed.backup : true,
        }) }}

        {{ forms.lightswitchField({
            first: true,
            label: 'Status',
            instructions: 'Set status of imported entries.' | t,
            name: 'status',
            on: (feed.id) ? feed.status : true,
        }) }}

        <hr>

        <div id="plugin-footer">
            <div class="footer-left">
                <div class="buttons">
                    <input type="submit" data-action="FeedMe/feeds/saveFeed" class="btn submit" value="{{ 'Save' | t }}">
                    <input type="submit" data-action="FeedMe/feeds/mapFeed" class="btn submit" value="{{ 'Save & Continue' | t }}">
                </div>
            </div>

            <div class="footer-right">
                <div class="plugin-credit">
                    <p>{{ craft.feedme.getPluginName }} {{ craft.feedme.getPluginVersion }} &bull; <a href="{{ craft.feedme.getPluginUrl }}" target="_blank">GitHub</a></p>
                </div>
            </div>
        </div>
    </form>
{% endblock %}


