{% extends 'feedme/_layouts' %}

{% set crumbs = [
    { label: craft.feedme.getPluginName | t, url: url('feedme') },
] %}

{% if feed.id %}
    {% set crumbs = crumbs | merge([
        { label: feed.name | t, url: url('feedme/feeds/' ~ feed.id) },
    ]) %}
{% endif %}

{% set title = (feed.id) ? feed.name : 'Create a new feed' | t %}
{% set noTabs = true %}
{% set fullPageForm = true %}

{% block saveButton %}{% endblock %}

{% block blockContent %}
    <input type="hidden" name="action" value="feedMe/feeds/saveFeed">

    {% if feed.id %}<input type="hidden" name="feedId" value="{{ feed.id }}">{% endif %}

    {{ forms.textField({
        first: true,
        label: "Name" | t,
        instructions: "What this feed will be called in the CP." | t,
        id: 'name',
        name: 'name',
        value: feed.name,
        errors: feed.getErrors('name'),
        autofocus: true,
        required: true,
        translatable: true,
    }) }}

    {{ forms.textField({
        label: "Feed URL" | t,
        instructions: "Can be a file on the local file system or from a website url (http://...)." | t,
        id: 'feedUrl',
        name: 'feedUrl',
        value: feed.feedUrl,
        errors: feed.getErrors('feedUrl'),
        required: true,
    }) }}

    {{ forms.selectField({
        label: "Feed Type" | t,
        instructions: 'Choose what type of feed you\'re retrieving.' | t,
        id: 'feedType',
        name: 'feedType',
        options: {'xml': 'XML Feed', 'rss': 'RSS Feed', 'atom': 'ATOM Feed', 'json': 'JSON Feed'},
        value: feed.feedType,
        errors: feed.getErrors('feedType'),
        required: true,
    }) }}

    {{ forms.textField({
        label: "Primary Element" | t,
        instructions: "The primary element that contains the records you intend to parse. Selecting a Feed Type above will assist in most cases." | t,
        id: 'primaryElement',
        class: 'code',
        name: 'primaryElement',
        value: feed.primaryElement,
        errors: feed.getErrors('primaryElement'),
    }) }}

    <hr>

    {% set elementTypes = [] %}
    {% for elementType in craft.elements.getAllElementTypes %}
        {% if craft.feedMe.getElementTypeGroups(elementType.classHandle) %}
            {% set elementTypes = elementTypes | merge({ (elementType.classHandle): elementType.name }) %}
        {% endif %}
    {% endfor %}

    {{ forms.selectField({
        label: "Element Type" | t,
        instructions: 'Choose what element you want to save your feed data to.' | t,
        id: 'elementType',
        name: 'elementType',
        options: [{ label: 'Select', value: '' }] | merge(elementTypes),
        value: feed.elementType,
        errors: feed.getErrors('elementType'),
        required: true,
    }) }}

    {% for elementType, elementTypeName in elementTypes %}
        <div class="element-select element-select-{{ elementType }}">
            {% set elementTypeGroups = craft.feedMe.getElementTypeGroupsTemplate(elementType) %}
            {% include elementTypeGroups ignore missing %}
        </div>
    {% endfor %}

    {% if craft.isLocalized() %}
        {% set locales = [] %}

        {% for locale in craft.i18n.getSiteLocales() %}
            {% set locales = locales | merge([{ label: locale.name ~ ' (' ~ locale.id ~ ')', value: locale.id }]) %}
        {% endfor %}

        {{ forms.selectField({
            label: "Locale" | t,
            instructions: 'Choose which locale you want to save your feed data to.' | t,
            id: 'locale',
            name: 'locale',
            options: locales,
            value: feed.locale,
        }) }}
    {% endif %}

    <hr>

    {{ forms.selectField({
        label: "Import strategy <span class='info'><span style='display:inline-block;'><strong>Add Unique Only:</strong> Duplicate entries will be skipped, new entries however, will be added. <em>\"I want to keep existing entries untouched but add new ones.\"</em></span><span style='display:inline-block;'><strong>Add and Update existing:</strong> Select fields to compare duplicate entries with, updating all other fields.<em>\"I want to update existing entries and add new ones.\"</em></span><span style='display:inline-block;'><strong>Delete old and Update existing:</strong> Update any existing entries, and delete any entries not updated by this feed. Be careful.<em>\"I want only the entries from this feed in this section.\"</em></span></span>" | t,
        instructions: 'Choose what happens when this feed is run again. Click tooltip above for explanation.',
        id: 'duplicateHandle',
        name: 'duplicateHandle',
        options: {'add': 'Add Unique Only', 'update': 'Add and Update existing', 'delete': 'Delete old and Update existing'},
        value: feed.duplicateHandle,
        required: true,
    }) }}

    <hr>

    {{ forms.textField({
        label: "Passkey" | t,
        instructions: "A generated, unique string to increase security against imports being run inadvertently. No need to change this." | t,
        id: 'passkey',
        name: 'passkey',
        value: (feed.passkey) ? feed.passkey : '',
        errors: feed.getErrors('passkey'),
        required: true,
        translatable: true,
    }) }}

    {{ forms.lightswitchField({
        first: true,
        label: 'Backup',
        instructions: 'Perform a full backup each time this feed is processed.' | t,
        name: 'backup',
        on: (feed.id) ? feed.backup : true,
    }) }}

{% endblock %}

{% block footerButton %}
    <div class="buttons">
        <input type="button" data-action="feedMe/feeds/saveFeed" class="btn submit" value="{{ 'Save' | t }}">
        <input type="button" data-action="feedMe/feeds/saveAndMapFeed" class="btn submit" value="{{ 'Save & Continue' | t }}">
    </div>
{% endblock %}
