{% extends 'feedme/_layouts' %}

{% set crumbs = [
    { label: craft.feedme.getPluginName | t, url: url('feedme') },
    { label: feed.name | t, url: url('feedme/feeds/' ~ feed.id) },
] %}

{% set title = feed.name %}

{% set title = (feed.id) ? feed.name : 'Create a new feed' | t %}
{% set noTabs = true %}
{% set fullPageForm = true %}

{% block saveButton %}{% endblock %}

{% if feedRawData is defined %}
    {% set feedData = [{ label: "Don't import", value: 'noimport' }] %}

    {% for key, data in feedRawData %}
        {% if data is iterable %}
            {% set snippet = '' %}
        {% else %}
            {% set snippet = data | length > 30 ? data[0:30] ~ '...' : data %}
        {% endif %}

        {% set feedData = feedData | merge([{ label: '<' ~ key ~ '> eg: ' ~ snippet, value: key }]) %}
    {% endfor %}
{% endif %}

{% block blockContent %}
    {% if feedRawData is defined %}
        <input type="hidden" name="action" value="feedMe/feeds/saveAndMapFeed">

        {% if feed.id %}
            <input type="hidden" name="feedId" value="{{ feed.id }}">
            <input type="hidden" name="name" value="{{ feed.name }}">
            <input type="hidden" name="feedUrl" value="{{ feed.feedUrl }}">
            <input type="hidden" name="feedType" value="{{ feed.feedType }}">
            <input type="hidden" name="elementType" value="{{ feed.elementType }}">
            <input type="hidden" name="passkey" value="{{ feed.passkey }}">
        {% endif %}

        {% set elementTemplate = craft.feedMe.getElementTypeMapping(feed.elementType) %}
        {% include elementTemplate with { elementType: feed.elementType } %}

    {% else %}
        <div class="feedme-fullpage fullpage-error">
            <img src="{{ resourceUrl('feedme/icon-error.svg') }}">
            
            <h2>{{ 'Unable to proceed to field mapping' | t }}</h2>
            <p>{{ 'Feed Me is unable to find, or parse your provided data. This usually means your URL cannot be reached from your Craft site, or your JSON/XML is invalid. Refer to the Logs for detailed information on this error, and double-check your settings.' | t }}</p>

            <div class="buttons">
                <a href="{{ url('feedme/feeds/' ~ feed.id) }}" class="btn submit">&larr; {{ 'Back to feed' | t }}</a>
                <a href="{{ url('feedme/logs') }}" class="btn submit">{{ 'Go to logs' | t }}</a>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block footerButton %}
    {% if feedRawData is defined %}
        <div class="buttons">
            <input type="button" data-action="feedMe/feeds/saveAndMapFeed" class="btn submit" value="{{ 'Save' | t }}">
            <input type="button" data-action="feedMe/feeds/saveAndReviewFeed" class="btn submit" value="{{ 'Save & Review' | t }}">
        </div>
    {% endif %}
{% endblock %}