{% extends "_layouts/cp" %}

{% includeCssResource 'feedme/css/feedme.css' %}
{% includeJsResource 'feedme/js/feedme.js' %}

{% set crumbs = [
	{ label: craft.feedme.name|t, url: url('feedme') },
	{ label: feed.name|t, url: url('feedme/feeds/' ~ feed.id) },
] %}

{% set title = feed.name %}

{% import "_includes/forms" as forms %}

{% block content %}
	<form method="post" accept-charset="UTF-8" data-saveshortcut="1">
		<input type="hidden" name="action" value="">
		{{ getCsrfInput() }}
		
		{% if feed.id %}<input type="hidden" name="feedId" value="{{ feed.id }}">{% endif %}

		{# list all existing fields from the previous step - needs to be present for model to save #}
		{% for field, value in feed %}
			{% if field != 'fieldMapping' and field != 'fieldUnique' %}
				<input type="hidden" name="{{ field }}" value="{{ value }}">
			{% endif %}
		{% endfor %}

		{% set entrytypes = craft.sections.getSectionById(feed.section).getEntryTypes() %}
		{% set entrytype = entrytypes[0] %}

		{% for et in entrytypes %}
			{% if et.id == feed.entrytype %}
				{% set entrytype = et %}
			{% endif %}
		{% endfor %}

		<p>{{ 'Choose the destination fields for your feed data. "' ~ entrytype.titleLabel ~ '" is always required.'|t }}</p>

		{% if feed.duplicateHandle != 'delete' %}
		<p>{{ 'Select the field(s) to use to check for existing duplicate entries to update.'|t }}</p>
		{% endif %}

	    <table class="data fullwidth collapsible">
	        <thead>
		        <th>{{ "Element name"|t }}</th>
		        <th>{{ "Field name"|t }}</th>
		        {% if feed.duplicateHandle != 'delete' %}
		        <th>{{ "Duplicate field"|t }} <span class="info">{{ "Use this field to check for duplicate entries."|t }}</span></th>
		        {% endif %}
		        <th>{{ "Value"|t }}</th>
	        </thead>
	        <tbody>
				{% for key, data in feedData %}
				    <tr>
				        <td>
				            <div class="field">
				                <div class="heading">
				                    <label><code>&lt;{{ key }}&gt;</code></label>
				                    <div class="instructions">
				                        <p>{{ "will be imported into:"|t }}</p>                
				                    </div>
				                </div>
				            </div>
				        </td>

				        <td>
				            <div class="field">
				                <div class="input">
				                    <div class="select mapper">
				                        <select name="fieldMapping[{{ key }}]" class="feedFields">
				                            <option value="noimport">{{ "Don't import"|t }}</option>
					                    	{{ _self.generateOption(entrytype.titleLabel ~ '*', 'title', key, feed) }}
					                    	{{ _self.generateOption("Slug"|t, 'slug', key, feed) }}
					                    	{{ _self.generateOption("Parent Entry"|t, 'parentId', key, feed) }}
					                    	{{ _self.generateOption("Ancestors"|t, 'ancestors', key, feed) }}
					                    	{{ _self.generateOption("Author"|t, 'authorId', key, feed) }}
					                    	{{ _self.generateOption("Post Date"|t, 'postDate', key, feed) }}
					                    	{{ _self.generateOption("Expiry Date"|t, 'expiryDate', key, feed) }}
					                    	{{ _self.generateOption("Enabled"|t, 'enabled', key, feed) }}

						                    {% for tab in craft.fields.getLayoutById(entrytype.fieldLayoutId).getTabs() %}
					                            <optgroup label="{{ tab.name }}">

						                        {% for field in tab.getFields() %}
						                            {% set f = field.getField() %}
						                            {% set label = (f.required) ? f.name ~ '*' : f.name %}

													{# Special case for Matrix and Table fields #}
													{% if f.type == 'Matrix' %}
							                            {{ _self.generateMatrixOption(f, label, f.handle, key, feed) }}
													{% elseif f.type == 'Table' %}
							                            {{ _self.generateTableOption(f, label, f.handle, key, feed) }}
													{% else %}
							                            {{ _self.generateOption(label, f.handle, key, feed) }}
							                        {% endif %}
						                        {% endfor %}

					                            </optgroup>
						                    {% endfor %}
				                        </select>
				                    </div>
				                </div>
				            </div>
				        </td>

				        {% if feed.duplicateHandle != 'delete' %}
				        	{% set checked = false %}

				        	{% if feed.fieldUnique %}
				        		{% if feed.fieldUnique[key] is defined %}
				        			{% set checked = feed.fieldUnique[key] %}
				        		{% endif %}
				        	{% else %}
				        		{% if loop.first %}
						        	{% set checked = true %}
				        		{% endif %}
				        	{% endif %}

					        <td class="duplicateHandle">
						        {{ forms.checkboxField({
						        	label: 'Check for duplicate',
						            name: "fieldUnique[" ~ key ~ "]",
						            class: "fieldUnique",
						            checked: checked,
						        }) }}
					        </td>
				        {% endif %}

				        <td class="">
				            <div class="field">
				                <div class="heading">
				                    <div class="instructions">
				                        <p>eg: {{ data }}</p>
				                    </div>
				                </div>
				            </div>
				        </td>

				    </tr>
			    {% endfor %}
			</tbody>
		</table>

		<hr>

		<div class="buttons">
			<a href="javascript: window.history.go(-1)" class="btn submit">{{ 'Back'|t }}</a>
			<input type="submit" data-action="FeedMe/feeds/saveFeed" class="btn submit" value="{{ 'Save'|t }}">
			<input type="submit" data-action="FeedMe/feeds/performFeed" class="btn submit" value="{{ 'Save & Import'|t }}">
		</div>
	</form>

{% endblock %}

{% macro generateOption(label, value, key, feed) %}
	{% set selected = '' %}
	{% if key in feed.fieldMapping | keys %}
	    {% set selected = (feed.fieldMapping[key] == value) ? 'selected' : '' %}
	{% endif %}

	<option {{ selected }} value="{{ value }}">{{ label }}</option>
{% endmacro %}

{% macro generateMatrixOption(field, label, value, key, feed) %}
	{% for blocktype in craft.feedme.getMatrixBlocks(field.id) %}
		<option disabled label="{{ field.name }} > {{ blocktype.name }}">

		{% for blocktypefield in blocktype.getFields() %}

			{% set fieldHandle = '__matrix__' ~ field.handle ~ '__' ~ blocktype.handle ~ '__' ~ blocktypefield.handle %}

			{% set selected = '' %}
			{% if key in feed.fieldMapping | keys %}
			    {% set selected = (feed.fieldMapping[key] == fieldHandle) ? 'selected' : '' %}
			{% endif %}

			<option {{ selected }} value="{{ fieldHandle }}">-- {{ blocktypefield.name }}</option>
	    {% endfor %}
    {% endfor %}
{% endmacro %}

{% macro generateTableOption(field, label, value, key, feed) %}
	<option disabled label="{{ field.name }}">
	{% for col in field.settings.columns %}
		{% set fieldHandle = '__table__' ~ field.handle ~ '__col' ~ loop.index %}

		{% set selected = '' %}
		{% if key in feed.fieldMapping | keys %}
		    {% set selected = (feed.fieldMapping[key] == fieldHandle) ? 'selected' : '' %}
		{% endif %}
		
		<option {{ selected }} value="{{ fieldHandle }}">-- {{ col.heading }}</option>
    {% endfor %}
{% endmacro %}

