{% extends 'feedme/_layouts' %}

{% set crumbs = [
    { label: craft.feedme.getPluginName | t, url: url('feedme') },
    { label: feed.name | t, url: url('feedme/feeds/' ~ feed.id) },
] %}

{% set title = feed.name %}

{% set title = (feed.id) ? feed.name : 'Create a new feed' | t %}
{% set noTabs = true %}

{% block blockContent %}

{% set triggerClass = '' %}
{% if craft.session.getFlash('runFeed', '', false) %}
    {% set triggerClass = 'cp-triggered' %}
{% endif %}

<div class="feedme-status-spinner">
    <div class="spinner big"></div>
</div>

<div class="feedme-fullpage fullpage-running fullpage-running-cp hidden {{ triggerClass }}">
    <img src="{{ resourceUrl('feedme/icon-success.svg') }}">
    
    <h2>{{ '{name} has started processing' | t({ name: feed.name }) }}</h2>
    <p>{{ 'Data is now being imported from your feed. You can navigate away from this page without disrupting your feed processing.' | t }}</p>

    <div class="progress-container">
        <div class="progressbar pending">
            <div class="progressbar-inner" style="width: 100%;"></div>
        </div>
    </div>
</div>

<div class="feedme-fullpage fullpage-waiting hidden {{ triggerClass }}">
    <img src="{{ resourceUrl('feedme/icon-info.svg') }}">
    
    <h2>{{ '{name} is ready to run' | t({ name: feed.name }) }}</h2>
    <p>{{ 'Click the button below to run your feed. This page will reload showing progress.' | t }}</p>

    <a class="btn submit" href="{{ url('feedme/feeds/run/' ~ feed.id) }}">{{ 'Start Feed Processing' | t }}</a>
</div>

{% endblock %}