{% extends 'feedme/_layouts' %}

{% set crumbs = [
    { label: craft.feedme.getPluginName | t, url: url('feedme') },
    { label: "Feeds" | t, url: url('feedme/feeds') },
] %}

{% set selectedTab = 'feeds' %}
{% set fullPageForm = true %}

{% block saveButton %}
    <div class="buttons">
        <a class="btn submit add icon" href="{{ url('feedme/feeds/new') }}">{{ 'New feed' | t }}</a>
    </div>
{% endblock %}

{% block blockContent %}

<div id="nofeeds"{% if feeds %} class="hidden"{% endif %}>
    <p>{{ "No feeds exist yet." | t }}</p>
</div>

{% if feeds | length %}
    <table id="feeds" class="data fullwidth collapsible">
        <thead>
            <th scope="col">{{ "ID" | t }}</th>
            <th scope="col">{{ "Name" | t }}</th>
            <th scope="col">{{ "Type" | t }}</th>
            <th scope="col">{{ "Feed URL" | t }}</th>
            <th scope="col">{{ "Element Type" | t }}</th>
            <th scope="col">{{ "Element Group" | t }}</th>
            <th scope="col">{{ "Strategy" | t }}</th>
            <th scope="col">{{ "Tasks" | t }}</th>
            <th colspan="{{ craft.config.devMode ? '3' : '2' }}">{{ "Actions" | t }}</th>
        </thead>
        <tbody>
            {% for feed in feeds %}
                <tr data-id="{{ feed.id }}" data-name="{{ feed.name | t }}">
                    <td>{{ feed.id }}</td>
                    <td><a href="{{ url('feedme/feeds/' ~ feed.id) }}">{{ feed.name | t }}</a></td>
                    <td>{{ (feedTypes[feed.feedType] is defined) ? feedTypes[feed.feedType] : feed.feedType | upper }}</td>
                      
                    {% if feed.feedUrl | length > 50 %}
                        <td>{{ feed.feedUrl | slice(0, 50) }}&hellip;</td>
                    {% else %}
                        <td>{{ feed.feedUrl }}</td>
                    {% endif %}

                    <td>{{ feed.elementType }}</td>

                    <td>
                        {% set elementTypeColumn = craft.feedMe.getElementTypeColumnTemplate(feed.elementType) %}

                        {% if elementTypeColumn %}
                            {% include elementTypeColumn ignore missing with { elementType: feed.elementType } %}
                        {% else %}
                            <span class="error">{{ 'Element group not found' | t }}</span>
                        {% endif %}
                    </td>

                    <td>{{ feed.duplicateHandleFriendly }}</td>
                    
                    <td><a href="{{ url('feedme/feeds/run/' ~ feed.id) }}">{{ 'Run Task' | t }}</a></td>

                    {% if craft.config.devMode %}
                        <td class="thin action">
                            {% set debugUrl = actionUrl('feedMe/feeds/debug', { feedId: feed.id }) %}
                            <a href="{{ debugUrl }}" target="_blank" class="debug fa-icon" title="{{ 'Debug' | t }}" role="button"><i class="fa fa-bug"></i></a>
                        </td>
                    {% endif %}

                    <td class="thin action">
                        <a href="{{ url('feedme/feeds/status/' ~ feed.id) }}" class="fa-icon" title="{{ 'Feed Status' | t }}" role="button"><i class="fa fa-info-circle"></i></a>
                    </td>
                    
                    <td class="thin action"><a class="delete icon" title="{{ 'Delete' | t }}" role="button"></a></td>
                </tr>
               
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% endblock %}

{% set js %}
    var adminTable = new Craft.AdminTable({
        tableSelector: '#feeds',
        noObjectsSelector: '#nofeeds',
        newObjectBtnSelector: '#newfeedcontainer',
        deleteAction: 'feedMe/feeds/deleteFeed',
        confirmDeleteMessage: '{{ "Are you sure you want to delete “{name}”?" | t }}'
    });
{% endset %}
{% includeJs js %}

