{% set sectionUid = feed.elementGroup[elementType].section %}
{% set entryTypeUid = feed.elementGroup[elementType].entryType %}

{% if sectionUid and entryTypeUid %}
    {% set section = craft.app.sections.getSectionByUid(sectionUid) %}
    {% set entryType = craft.app.sections.getEntryTypeByUid(entryTypeUid) %}

    {% if section and entryType %}
        <span class="element-group">{{ section.name }}</span>
        <span class="element-group-sub">{{ entryType.name }}</span>
    {% endif %}
{% endif %}
