{% import '_includes/forms' as forms %}

{% set categories = element.groups %}

{{ forms.selectField({
    label: "Digital Product Group"|t('feed-me'),
    instructions: 'Choose the digital product type you want to save your feed data into.'|t('feed-me'),
    id: 'elementGroup-' ~ elementType,
    name: 'elementGroup[' ~ elementType ~ ']',
    options: craft.feedme.getSelectOptions(categories),
    value: feed.elementGroup[elementType] ?? '',
    errors: feed.getErrors('elementGroup'),
    required: true,
}) }}
