<tr class="{{ (isSubElementField is defined) ? 'element-sub-field' }}">
    <td class="col-field">
        <div class="field">
            {% if isSubElementField is defined %}
                <i class="fa fa-level-up" aria-hidden="true"></i>
            {% endif %}

            <div class="heading">
                <label {% if fieldtype.required %}class="required"{% endif %}>{{ labelName }}</label>

                <div class="instructions">
                    <code>{{ labelHandle }}</code>
                </div>
            </div>
        </div>
    </td>

    <td class="col-map">
        {% namespace 'fieldMapping' %}
            {{ forms.selectField({
                id: fieldHandle,
                name: fieldHandle,
                value: feed.fieldMapping[fieldHandle] ?? '',
                options: feedData,
            }) }}

            <div class="field-extra-settings">
                <div class="element-match">
                    <span>{{ 'Data provided for this field is formatted as:' | t }}</span>

                    {{ forms.selectField({
                        name: fieldHandle ~ '-options-match',
                        options: [
                            { value: 'auto', label: 'Auto' | t },
                            { value: 'america', label: 'mm/dd/yyyy' | t },
                            { value: 'asia', label: 'yyyy/mm/dd' | t },
                            { value: 'world', label: 'dd/mm/yyyy' | t },
                        ],
                        value: feed.fieldMapping[fieldHandle ~ '-options-match'] ?? '',
                    }) }}
                </div>
            </div>
        {% endnamespace %}
    </td>

    <td class="col-default">
        <div class="default-fields">
            {% namespace 'fieldDefaults' %}
                {{ forms.textField({
                    id: fieldHandle,
                    name: fieldHandle,
                    value: feed.fieldDefaults[fieldHandle] ?? '',
                }) }}
            {% endnamespace %}
        </div>
    </td>
</tr>