{% for blocktype in craft.feedme.getMatrixBlocks(field.id) %}
    <tr>
        <td class="col-field">
            <div class="field">
                <div class="heading">
                    <label>{{ field.name ~ ' - ' ~ blocktype.name }} ({{ 'Enabled' | t }})</label>

                    <div class="instructions">
                        {{ 'Set whether these blocks are imported as enabled.' | t }}
                    </div>
                </div>
            </div>
        </td>

        {% set enabledId = field.handle ~ '--' ~ blocktype.handle ~ '--block-enabled' %}

        <td class="col-map">
            {% namespace 'fieldMapping' %}
                {{ forms.selectField({
                    id: enabledId,
                    name: enabledId,
                    value: feed.fieldMapping[enabledId] ?? '',
                    options: feedData,
                }) }}
            {% endnamespace %}
        </td>

        <td class="col-default">
            <div class="default-fields">
                {% namespace 'fieldDefaults' %}
                    {{ forms.selectField({
                        id: enabledId,
                        name: enabledId,
                        value: feed.fieldDefaults[enabledId] ?? '',
                        options: [
                            { label: 'Don\'t import', value: '' },
                            { label: 'Enabled', value: '1' },
                            { label: 'Disabled', value: '0' },
                        ],
                    }) }}
                {% endnamespace %}
            </div>
        </td>
    </tr>

    {% for blocktypefield in blocktype.getFields() %}

        {% set variables = {
            field: blocktypefield,
            fieldtype: blocktypefield,
            feed: feed,
            feedData: feedData,
            handlePrefix: field.handle ~ '--' ~ blocktype.handle ~ '--',
            labelName: field.name ~ ' - ' ~ blocktype.name ~ ': ' ~ blocktypefield.name,
            labelHandle: field.handle ~ '[' ~ blocktype.handle ~ '][' ~ blocktypefield.handle ~ ']',
            parentField: field,
            parentBlocktype: blocktype,
        } %}
        
        {% include 'feedme/_includes/field' with variables %}

    {% endfor %}
{% endfor %}
