{% for col in field.settings.columns %}
    {% set table_fieldHandle = fieldHandle ~ '--col' ~ loop.index %}
    {% set table_labelName = labelName ~ ' - ' ~ col.heading %}
    {% set table_labelHandle = labelHandle ~ '[' ~ col.handle ~ ']' %}

    <tr>
        <td class="col-field">
            <div class="field">
                <div class="heading">
                    <label {% if fieldtype.required %}class="required"{% endif %}>{{ table_labelName }}</label>

                    <div class="instructions">
                        <code>{{ table_labelHandle }}</code>
                    </div>
                </div>
            </div>
        </td>

        <td class="col-map">
            {% namespace 'fieldMapping' %}
                {{ forms.selectField({
                    id: table_fieldHandle,
                    name: table_fieldHandle,
                    value: feed.fieldMapping[table_fieldHandle] ?? '',
                    options: feedData,
                }) }}
            {% endnamespace %}
        </td>

        <td class="col-default">
            <div class="default-fields">
                {% namespace 'fieldDefaults' %}
                    {{ forms.textField({
                        id: table_fieldHandle,
                        name: table_fieldHandle,
                        value: feed.fieldDefaults[table_fieldHandle] ?? '',
                    }) }}
                {% endnamespace %}
            </div>
        </td>
    </tr>
{% endfor %}
