{# Support for when this field is attached to a parent element (asset, user, entry) #}
{% if parentElementField is defined %}
    {% set fieldHandle = parentElementField.handle ~ '-fields-' ~ field.handle %}
{% else %}
    {% set fieldHandle = field.handle %}
{% endif %}

{% if handlePrefix is defined %}
    {% set fieldHandle = handlePrefix ~ fieldHandle %}
{% endif %}

<tr class="{{ (parentElementField is defined) ? 'element-sub-field' }}">
    <td class="col-field">
        <div class="field">
            <div class="heading">
                <label>{{ field.name }}</label>

                <div class="instructions">
                    <code>{{ field.handle }}</code>
                </div>
            </div>
        </div>
    </td>

    <td class="col-map">
        {% namespace 'fieldMapping' %}
            {{ forms.selectField({
                id: fieldHandle,
                name: fieldHandle,
                value: feed.fieldMapping[fieldHandle] ?? '',
                options: feedData,
            }) }}

            <div class="field-extra-settings">
                <div class="element-match">
                    <span>{{ 'Data provided for this user is:' | t }}</span>

                    {{ forms.selectField({
                        name: fieldHandle ~ '-options-match',
                        options: [
                            { value: 'email', label: 'Email' | t },
                            { value: 'id', label: 'ID' | t },
                            { value: 'username', label: 'Username' | t },
                            { value: 'fullName', label: 'Full Name' | t },
                        ],
                        value: feed.fieldMapping[fieldHandle ~ '-options-match'] ?? '',
                    }) }}
                </div>

                {{ feedMeMacro.checkbox({
                    label: 'Create user if they do not exist' | t,
                    name: fieldHandle ~ '-options-create',
                    value: 1,
                    checked: feed.fieldMapping[fieldHandle ~ '-options-create'] ?? '',
                }) }}
            </div>
        {% endnamespace %}
    </td>

    <td class="col-default">
        <div class="default-fields">
            
        </div>
    </td>
</tr>

{# Include all fields that can be mapped inside this element #}
{# Without some further refactoring, we can only support a subset of fields at the moment #}
{% set supportedFields = [
    'Checkboxes',
    'Color',
    'Date',
    'Dropdown',
    'Lightswitch',
    'Multiselect',
    'Number',
    'PlainText',
    'PositionSelect',
    'Radio',
    'RichText',
] %}

{% if parentElementField is not defined %}
    {% set elementFields = craft.fields.getLayoutByType('User').getFields() %}

    {% for fieldtype in elementFields %}
        {% set innerField = fieldtype.getField() %}

        {# Lets not allow a few fields at this time - itself for recursive reasons, and Matrix because :O #}
        {% if innerField.type in supportedFields and elementType != 'User' %}
            {% set fieldMapping = craft.feedMe.getFieldMapping(innerField.type) %}
            {% set variables = { field: innerField, feed: feed, feedData: feedData, parentElementField: field } %}

            {% if fieldMapping %}
                {% include fieldMapping ignore missing with variables %}
            {% else %}
                {% include 'feedme/_includes/fields/default' ignore missing with variables %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}

