{% if feed.elementGroup %}
    {% set productTypeId = feed.elementGroup[elementType] %}

    {% set productType = craft.feedMe.getProductTypeById(productTypeId) %}
{% endif %}

{% set fields = [{
    label: 'Title',
    handle: 'title',
    default: forms.textField({
        id: 'fieldDefaults-title',
        name: 'fieldDefaults[title]',
        value: feed.fieldDefaults.title ?? '',
    })
}, {
    label: 'Slug',
    handle: 'slug',
    instructions: 'If not set, the Slug will be automatically created from Title.' | t,
    default: forms.textField({
        id: 'fieldDefaults-slug',
        name: 'fieldDefaults[slug]',
        value: feed.fieldDefaults.slug ?? '',
    })
}, {
    label: 'Post Date',
    handle: 'postDate',
    instructions: 'Accepts Unix timestamp, or just about any English textual datetime description.' | t,
    default: forms.dateTimeField({
        id: 'fieldDefaults-postDate',
        name: 'fieldDefaults[postDate]',
        value: feed.fieldDefaults.postDate is defined ? craft.feedme.formatDateTime(feed.fieldDefaults.postDate) : '',
    })
}, {
    label: 'Expiry Date',
    handle: 'expiryDate',
    instructions: 'Accepts Unix timestamp, or just about any English textual datetime description.' | t,
    default: forms.dateTimeField({
        id: 'fieldDefaults-expiryDate',
        name: 'fieldDefaults[expiryDate]',
        value: feed.fieldDefaults.expiryDate is defined ? craft.feedme.formatDateTime(feed.fieldDefaults.expiryDate) : '',
    })
}, {
    label: 'Status',
    handle: 'enabled',
    instructions: 'Choose either a default status from the list or the imported field that will contain the status.' | t,
    default: forms.selectField({
        id: 'fieldDefaults-enabled',
        name: 'fieldDefaults[enabled]',
        value: feed.fieldDefaults.enabled is defined ? feed.fieldDefaults.enabled : '',
        options: [
            { label: 'Don\'t import', value: '' },
            { label: 'Enabled', value: '1' },
            { label: 'Disabled', value: '0' },
        ],
    })
}, {
    label: 'Tax Category',
    handle: 'taxCategoryId',
    default: forms.selectField({
        id: 'fieldDefaults-taxCategoryId',
        name: 'fieldDefaults[taxCategoryId]',
        value: feed.fieldDefaults.taxCategoryId ?? '1',
        options: craft.commerce.getTaxCategories(true),
    })
}, {
    label: 'Shipping Category',
    handle: 'shippingCategoryId',
    default: forms.selectField({
        id: 'fieldDefaults-shippingCategoryId',
        name: 'fieldDefaults[shippingCategoryId]',
        value: feed.fieldDefaults.shippingCategoryId ?? '1',
        options: craft.commerce.getShippingCategories(true),
    })
}, {
    label: 'Free Shipping',
    handle: 'freeShipping',
    default: forms.checkboxField({
        id: 'fieldDefaults-freeShipping',
        name: 'fieldDefaults[freeShipping]',
        checked: feed.fieldDefaults.freeShipping ?? '',
    })
}, {
    label: 'Promotable',
    handle: 'promotable',
    default: forms.checkboxField({
        id: 'fieldDefaults-promotable',
        name: 'fieldDefaults[promotable]',
        checked: feed.fieldDefaults.promotable ?? '',
    })
}, {
    label: 'Product ID' | t,
    handle: 'id',
    instructions: '<strong class="error">Warning: </strong>This should only be used for an existing Craft Commerce Product ID.' | t,
    default: forms.textField({
        id: 'fieldDefaults-id',
        name: 'fieldDefaults[id]',
        value: feed.fieldDefaults.id ?? '',
    }),
}] %}


{% set fieldsVariants = [{
    label: 'Title' | t,
    handle: 'variant-title',
    name: 'variants--title',
    value: feed.fieldMapping['variants--title'] ?? '',
    default: forms.textField({
        id: 'fieldDefaults-variants--title',
        name: 'fieldDefaults[variants--title]',
        value: feed.fieldDefaults['variants--title'] ?? '',
    })
}, {
    label: 'SKU' | t,
    handle: 'variant-sku',
    name: 'variants--sku',
    value: feed.fieldMapping['variants--sku'] ?? '',
    default: forms.textField({
        id: 'fieldDefaults-variants--sku',
        name: 'fieldDefaults[variants--sku]',
        value: feed.fieldDefaults['variants--sku'] ?? '',
    })
}, {
    label: 'Price' | t,
    handle: 'variant-price',
    name: 'variants--price',
    value: feed.fieldMapping['variants--price'] ?? '',
    default: forms.textField({
        id: 'fieldDefaults-variants--price',
        name: 'fieldDefaults[variants--price]',
        value: feed.fieldDefaults['variants--price'] ?? '',
    })
}, {
    label: 'Stock' | t,
    handle: 'variant-stock',
    name: 'variants--stock',
    value: feed.fieldMapping['variants--stock'] ?? '',
    default: forms.textField({
        id: 'fieldDefaults-variants--stock',
        name: 'fieldDefaults[variants--stock]',
        value: feed.fieldDefaults['variants--stock'] ?? '',
    })
}, {
    label: 'Unlimited Stock' | t,
    handle: 'variant-unlimitedStock',
    name: 'variants--unlimitedStock',
    value: feed.fieldMapping['variants--unlimitedStock'] ?? '',
    default: forms.checkboxField({
        id: 'fieldDefaults-variants--unlimitedStock',
        name: 'fieldDefaults[variants--unlimitedStock]',
        checked: feed.fieldDefaults['variants--unlimitedStock'] ?? '',
    })
}, {
    label: 'Is Default' | t,
    handle: 'variant-isDefault',
    name: 'variants--isDefault',
    value: feed.fieldMapping['variants--isDefault'] ?? '',
    default: forms.checkboxField({
        id: 'fieldDefaults-variants--isDefault',
        name: 'fieldDefaults[variants--isDefault]',
        checked: feed.fieldDefaults['variants--isDefault'] ?? '',
    })
}, {
    label: 'Minimum allowed quantity' | t,
    handle: 'variant-minQty',
    name: 'variants--minQty',
    value: feed.fieldMapping['variants--minQty'] ?? '',
    default: forms.textField({
        id: 'fieldDefaults-variants--minQty',
        name: 'fieldDefaults[variants--minQty]',
        value: feed.fieldDefaults['variants--minQty'] ?? '',
    })
}, { 
    label: 'Maximum allowed quantity' | t,
    handle: 'variant-maxQty',
    name: 'variants--maxQty',
    value: feed.fieldMapping['variants--maxQty'] ?? '',
    default: forms.textField({
        id: 'fieldDefaults-variants--maxQty',
        name: 'fieldDefaults[variants--maxQty]',
        value: feed.fieldDefaults['variants--maxQty'] ?? '',
    })
}, {
    label: 'Dimensions - Length' | t,
    handle: 'variant-length',
    name: 'variants--length',
    value: feed.fieldMapping['variants--length'] ?? '',
    default: forms.textField({
        id: 'fieldDefaults-variants--length',
        name: 'fieldDefaults[variants--length]',
        value: feed.fieldDefaults['variants--length'] ?? '',
    })
}, {
    label: 'Dimensions - Width' | t,
    handle: 'variant-width',
    name: 'variants--width',
    value: feed.fieldMapping['variants--width'] ?? '',
    default: forms.textField({
        id: 'fieldDefaults-variants--width',
        name: 'fieldDefaults[variants--width]',
        value: feed.fieldDefaults['variants--width'] ?? '',
    })
}, {
    label: 'Dimensions - Height' | t,
    handle: 'variant-height',
    name: 'variants--height',
    value: feed.fieldMapping['variants--height'] ?? '',
    default: forms.textField({
        id: 'fieldDefaults-variants--height',
        name: 'fieldDefaults[variants--height]',
        value: feed.fieldDefaults['variants--height'] ?? '',
    })
}, {
    label: 'Weight' | t,
    handle: 'variant-weight',
    name: 'variants--weight',
    value: feed.fieldMapping['variants--weight'] ?? '',
    default: forms.textField({
        id: 'fieldDefaults-variants--weight',
        name: 'fieldDefaults[variants--weight]',
        value: feed.fieldDefaults['variants--weight'] ?? '',
    })
}] %}

<h2>{{ 'Product Fields' | t }}</h2>

<table class="feedme-mapping data fullwidth collapsible">
    <thead>
        <th>{{ 'Field' | t }}</th>
        <th>{{ 'Feed Element' | t }}</th>
        <th>{{ 'Default Value' | t }}</th>
    </thead>
    <tbody>
        {% for field in fields %}
            {{ feedMeMacro.generateRow(_context, field) }}
        {% endfor %}
    </tbody>
</table>

<hr>

<h2>{{ 'Product Variant Fields' | t }}</h2>

<table class="feedme-mapping data fullwidth collapsible">
    <thead>
        <th>{{ 'Field' | t }}</th>
        <th>{{ 'Feed Element' | t }}</th>
        <th>{{ 'Default Value' | t }}</th>
    </thead>
    <tbody>
        {% for field in fieldsVariants %}
            {{ feedMeMacro.generateRow(_context, field) }}
        {% endfor %}
    </tbody>
</table>

{% for tab in craft.fields.getLayoutById(productType.fieldLayoutId).getTabs() %}
    <hr>

    <h2>{{ tab.name }} Fields</h2>

    <table class="feedme-mapping data fullwidth collapsible">
        <thead>
            <th>{{ 'Field' | t }}</th>
            <th>{{ 'Feed Element' | t }}</th>
            <th>{{ 'Default Value' | t }}</th>
        </thead>
        <tbody>
            {% for fieldtype in tab.getFields() %}
                {% set field = fieldtype.getField() %}

                {% set variables = { field: field, fieldtype: fieldtype, feed: feed, feedData: feedData } %}
                {% include 'feedme/_includes/field' with variables %}
            {% endfor %}
        </tbody>
    </table>
{% endfor %}

{% for tab in craft.fields.getLayoutById(productType.variantFieldLayoutId).getTabs() %}
    <hr>

    <h2>{{ "Variant Fields" | t }}</h2>

    <table class="feedme-mapping data fullwidth collapsible">
        <thead>
            <th>{{ 'Field' | t }}</th>
            <th>{{ 'Feed Element' | t }}</th>
            <th>{{ 'Default Value' | t }}</th>
        </thead>
        <tbody>
            {% for fieldtype in tab.getFields() %}
                {% set field = fieldtype.getField() %}

                {% set variables = { field: field, fieldtype: fieldtype, feed: feed, feedData: feedData, handlePrefix: 'variants--' } %}
                {% include 'feedme/_includes/field' with variables %}
            {% endfor %}
        </tbody>
    </table>
{% endfor %}

<hr>

<h2>{{ "Set a unique identifier for existing elements" | t }}</h2>

<p>{{ "Select the fields you want to use to check for existing elements. When selected, Feed Me will look for existing elements that match the fields provided below and either update, or skip depending on your choice of Import Strategy." | t }}</p>

{% set uniqueFields = fields %}

{% for field in fieldsVariants %}
    {# Special-case for a few attributes - we need to select the default #}
    {% set handle = field.handle | replace('variant-', '') %}

    {# Only the Variant SKU is supported as an element criteria attribute for a Variant element #}
    {% if field.handle == 'variant-sku' %}
        {% set uniqueFields = uniqueFields | merge([{ label: 'Variant ' ~ field.label, handle: field.name }]) %}
    {% endif %}
{% endfor %}

{% for tab in craft.fields.getLayoutById(productType.fieldLayoutId).getTabs() %}
    {% for fieldtype in tab.getFields() %}
        {% set field = fieldtype.getField() %}

        {% set uniqueFields = uniqueFields | merge([{ label: field.name, handle: field.handle }]) %}
    {% endfor %}
{% endfor %}

{% for tab in craft.fields.getLayoutById(productType.variantFieldLayoutId).getTabs() %}
    {% for fieldtype in tab.getFields() %}
        {% set field = fieldtype.getField() %}

        {% set uniqueFields = uniqueFields | merge([{ label: field.name, handle: 'variants--' ~ field.handle }]) %}
    {% endfor %}
{% endfor %}

<div class="feedme-uniques">
    {% for field in uniqueFields %}
        {{ forms.checkboxField({
            name: 'fieldUnique[' ~ field.handle ~ ']',
            label: field.label,
            checked: feed.fieldUnique[field.handle] ?? '',
        }) }}
    {% endfor %}
</div>
