# The environment Craft is currently running in ('dev', 'staging', 'production', etc.)
ENVIRONMENT="dev"

# The secure key Craft will use for hashing and encrypting data
SECURITY_KEY="-HJ7Rz_kOAu0zu11u1tMiju7dOMExrop"

# The Data Source Name (“DSN”) that tells Craft how to connect to the database
DB_DSN="mysql:host=127.0.0.1;port=.env;dbname=testingfeedme"

# The database username to connect with
DB_USER="nitro"

# The database password to connect with
DB_PASSWORD="nitro"

# The database schema that will be used (PostgreSQL only)
DB_SCHEMA="public"

# The prefix that should be added to generated table names (only necessary if multiple things are sharing the same database)
DB_TABLE_PREFIX=""

DEFAULT_SITE_URL="http://plugins.nitro"
