{% extends "_layouts/cp" %}

{% set crumbs = [
    { label: craft.feedme.name, url: url('feedme') },
    { label: "Logs"|t, url: url('feedme/logs') },
    { label: "Log"|t, url: url('feedme/logs/' ~ logsId) }
] %}

{% set title = craft.feedme.name %}

{% set tabs = {
    overview: { label: "Feeds"|t, url: url('feedme/feeds') },
    logs: { label: "Logs"|t, url: url('feedme/logs') },
} %}

{% set selectedTab = 'logs' %}

{% set content %}
    <table class="data fullwidth">
        <thead>
            <tr>
                <th scope="col">{{ "Log"|t }}</th>
                <th scope="col">{{ "Date"|t }}</th>
            </tr>
        </thead>
        <tbody>
        {% for item in craft.feedme.log(logsId) %}
            <tr>
                <td>{{ item.errors | join(', ') }}</td>
                <td>{{ item.dateCreated | datetime }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
{% endset %}