{% extends 'feedme/_layouts' %}

{% set crumbs = [
    { label: craft.feedme.getPluginName | t, url: url('feedme') },
    { label: "Logs" | t, url: url('feedme/logs') }
] %}

{% set selectedTab = 'logs' %}

{% block blockContent %}

<a class="btn right" href="{{ actionUrl('feedMe/logs/clear') }}">Clear logs</a>

<table id="logs" class="data fullwidth collapsible">
    <thead>
        <tr>
            <th scope="col">{{ "Date" | t }}</th>
            <th scope="col">{{ "Message" | t }}</th>
        </tr>
    </thead>

    <tbody>
        {% for logEntry in logEntries %}
            <tr>
                <td>
                    <div style="width: 150px">
                        {{ logEntry.dateTime.localeDate() ~ ' ' ~ logEntry.dateTime.localeTime() }}
                    </div>
                </td>

                <td>{{ logEntry.message }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}