{# ------------------------ #}
{# Available Variables #}
{# ------------------------ #}
{# Attributes: #}
{# type, name, handle, instructions, attribute, default, feed, feedData #}
{# ------------------------ #}
{# Fields: #}
{# name, handle, instructions, feed, feedData, field, fieldClass #}
{# ------------------------ #}

{% import 'feed-me/_macros' as feedMeMacro %}
{% import '_includes/forms' as forms %}

{% set default = default ?? {
    type: 'dateTime',
} %}

{% extends 'feed-me/_includes/fields/_base' %}

{% block extraSettings %}
    <div class="element-match">
        <span>{{ 'Data provided for this field is formatted as:'|t('feed-me') }}</span>

        {{ forms.selectField({
            name: 'options[match]',
            class: '',
            value: hash_get(feed.fieldMapping, optionsPath ~ '.match') ?: '',
            options: [
                { value: 'auto', label: 'Auto'|t('feed-me') },
                { value: 'america', label: 'mm/dd/yyyy'|t('feed-me') },
                { value: 'america-short', label: 'mm/dd/yy'|t('feed-me') },
                { value: 'asia', label: 'yyyy/mm/dd'|t('feed-me') },
                { value: 'asia-short', label: 'yy/mm/dd'|t('feed-me') },
                { value: 'world', label: 'dd/mm/yyyy'|t('feed-me') },
                { value: 'world-short', label: 'dd/mm/yy'|t('feed-me') },
                { value: 'yyyymmdd', label: 'yyyymmdd'|t('feed-me') },
                { value: 'yymmdd', label: 'yymmdd'|t('feed-me') },
                { value: 'yyyyddmm', label: 'yyyyddmm'|t('feed-me') },
                { value: 'yyddmm', label: 'yyddmm'|t('feed-me') },
                { value: 'milliseconds', label: 'Timestamp (ms)'|t('feed-me') },
                { value: 'seconds', label: 'Timestamp (s)'|t('feed-me') },
            ],
        }) }}
    </div>
{% endblock %}
