{# ------------------------ #}
{# Available Variables #}
{# ------------------------ #}
{# Attributes: #}
{# type, name, handle, instructions, attribute, default, feed, feedData #}
{# ------------------------ #}
{# Fields: #}
{# name, handle, instructions, feed, feedData, field, fieldClass #}
{# ------------------------ #}

{% import 'feed-me/_macros' as feedMeMacro %}
{% import '_includes/forms' as forms %}

{% set classes = ['complex-field'] %}

<div class="additional-mapping-fields">
    {% namespace 'fieldMapping[' ~ handle ~ ']' %}
        <input type="text" name="field" value="{{ className(field) }}">
    {% endnamespace %}
</div>

{% for entrytype in field.getEntryTypes() %}
    {% if entrytype.fields|length %}
        <tr class="complex-field complex-field-header">
            <td class="col-field">
                <div class="field">
                    <div class="heading">
                        <label class="">{{ name }} - {{ entrytype.name }}</label>
                    </div>
                </div>
            </td>

            <td class="col-map" colspan="2">
                <div class="field-extra-settings">
                    {% set blockPath = [ handle, 'blocks', entrytype.handle ] %}

                    {% set disabled = hash_get(feed.fieldMapping, blockPath|join('.') ~ '.disabled') ?: '' %}

                    {% namespace 'fieldMapping[' ~ blockPath|join('][') ~ ']' %}
                        {{ feedMeMacro.checkbox({
                            label: 'Disabled'|t('feed-me'),
                            name: 'disabled',
                            value: 1,
                            checked: disabled,
                        }) }}
                    {% endnamespace %}
                </div>
            </td>
        </tr>

        {#{% set fields = [] %}

        {% if entrytype.hasTitleField %}
            {% set fields = fields|push({
                name: 'Title',
                handle: 'title',
                default: {
                    type: 'text',
                },
            }) %}
        {% endif %}

        {% if entrytype.showSlugField %}
            {% set fields = fields|push({
                name: 'Slug',
                handle: 'slug',
                instructions: 'If not set, the Slug will be automatically created from Title.'|t('feed-me'),
                default: {
                    type: 'text',
                },
            }) %}
        {% endif %}#}

        {% for field in fields %}
            {% set template = field.type ?? 'default' %}
            {% set parentPath = [ handle, 'blocks', entrytype.handle, entrytypefield.handle ] %}
            {% set variables = field|merge({ feed: feed, feedData: feedData, attribute: true, path: parentPath }) %}

            {% include 'feed-me/_includes/fields/' ~ template ignore missing with variables only %}
        {% endfor %}

        {% for entrytypefield in entrytype.getFieldLayout().getCustomFields() %}
            {% set nameLabel = entrytype.name ~ ': ' ~ entrytypefield.name %}
            {% set instructionsHandle = handle ~ '[' ~ entrytype.handle ~ '][' ~ entrytypefield.handle ~ ']' %}

            {% set parentPath = [ handle, 'blocks', entrytype.handle, 'fields', entrytypefield.handle ] %}

            {% set fieldClass = craft.feedme.fields.getRegisteredField(className(entrytypefield)) %}
            {% set template = fieldClass.getMappingTemplate() %}

            {% include template ignore missing with {
                field: entrytypefield,
                handle: entrytypefield.handle,
                path: parentPath,
            } %}
        {% endfor %}
    {% endif %}
{% endfor %}
