{# ------------------------ #}
{# Available Variables #}
{# ------------------------ #}
{# Attributes: #}
{# type, name, handle, instructions, attribute, default, feed, feedData #}
{# ------------------------ #}
{# Fields: #}
{# name, handle, instructions, feed, feedData, field, fieldClass #}
{# ------------------------ #}

{% import 'feed-me/_macros' as feedMeMacro %}
{% import '_includes/forms' as forms %}

{% if field is defined %}
    {% set default = default ?? {
        type: 'select',
        options: craft.feedme.getSelectOptions(field.settings.options, 'label', 'value'),
    } %}
{% endif %}

{% extends 'feed-me/_includes/fields/_base' %}

{% block extraSettings %}
    <div class="element-match">
        <span>{{ 'Data provided for this field is:'|t('feed-me') }}</span>

        {{ forms.selectField({
            name: 'options[match]',
            class: '',
            options: [
                { value: 'value', label: 'Value'|t('feed-me') },
                { value: 'label', label: 'Label'|t('feed-me') }
            ],
            value: hash_get(feed.fieldMapping, optionsPath ~ '.match') ?: '',
        }) }}
    </div>
{% endblock %}
