{% macro generateRow(global, variables) %}
    {% import "_includes/forms" as forms %}
    {% set fieldHandle = variables.handle %}

    {% if variables.parentElementField is defined %}
        {% set fieldHandle = variables.parentElementField.handle ~ '-fields-' ~ variables.handle %}
    {% endif %}

    {% set name = variables.name is defined ? variables.name : fieldHandle %}
    {% set value = variables.value ?? global.feed.fieldMapping[fieldHandle] ?? '' %}

    <tr class="{{ (variables.parentElementField is defined) ? 'element-sub-field' : '' }}">
        <td class="col-field">
            <div class="field">
                <div class="heading">
                    <label class="{% if variables.required is defined %}required{% endif %}">{{ variables.label }}</label>

                    {% if variables.instructions is defined %}
                        <div class="instructions">
                            <p>{{ variables.instructions | raw }}</p>
                        </div>
                    {% endif %}

                    {% if variables.instructionsHandle is defined %}
                        <div class="instructions">
                            <code>{{ variables.instructionsHandle }}</code>
                        </div>
                    {% endif %}
                </div>
            </div>
        </td>

        <td class="col-map">
            {% namespace 'fieldMapping' %}
                {{ forms.selectField({
                    name: name,
                    value: value,
                    options: global.feedData,
                }) }}
            {% endnamespace %}
        </td>

        <td class="col-default">
            <div class="default-fields">
                {% if variables.default is defined %}
                    {{ variables.default | raw }}
                {% endif %}
            </div>
        </td>
    </tr>
{% endmacro %}

{% macro generateAssetRow(global, variables) %}
    {% import "_includes/forms" as forms %}
    {% set fieldHandle = variables.handle %}

    {% if variables.parentElementField is defined %}
        {% set fieldHandle = variables.parentElementField.handle ~ '-fields-' ~ variables.handle %}
    {% endif %}

    {% set name = variables.name is defined ? variables.name : fieldHandle %}
    {% set value = variables.value ?? global.feed.fieldMapping[fieldHandle] ?? '' %}

    <tr class="{{ (variables.parentElementField is defined) ? 'element-sub-field' : '' }}">
        <td class="col-field">
            <div class="field">
                <div class="heading">
                    <label class="{% if variables.required is defined %}required{% endif %}">{{ variables.label }}</label>

                    {% if variables.instructions is defined %}
                        <div class="instructions">
                            <p>{{ variables.instructions | raw }}</p>
                        </div>
                    {% endif %}

                    {% if variables.instructionsHandle is defined %}
                        <div class="instructions">
                            <code>{{ variables.instructionsHandle }}</code>
                        </div>
                    {% endif %}
                </div>
            </div>
        </td>

        <td class="col-map">
            {% namespace 'fieldMapping' %}
                {{ forms.selectField({
                    name: name,
                    value: value,
                    options: global.feedData,
                }) }}

                <div class="field-extra-settings">
                    <div class="assets-uploads">
                        {{ _self.checkbox({
                            label: 'Upload files from urls' | t,
                            name: fieldHandle ~ '-options-upload',
                            value: 1,
                            checked: global.feed.fieldMapping[fieldHandle ~ '-options-upload'] ?? '',
                        }) }}

                        {{ forms.selectField({
                            name: fieldHandle ~ '-options-conflict',
                            options: [
                                { value: 'cancel', label: 'Use existing (skip feed data)' },
                                { value: 'replace', label: 'Replace existing (use feed data)' },
                                { value: 'keepBoth', label: 'Keep both (rename feed data)' },
                            ],
                            value: global.feed.fieldMapping[fieldHandle ~ '-options-conflict'] ?? '',
                        }) }}
                    </div>
                </div>
            {% endnamespace %}
        </td>

        <td class="col-default">
            <div class="default-fields">
                {% if variables.default is defined %}
                    {{ variables.default | raw }}
                {% endif %}
            </div>
        </td>
    </tr>
{% endmacro %}


{% macro generateElementRow(global, variables) %}
    {% import "_includes/forms" as forms %}
    {% set fieldHandle = variables.handle %}

    {% if variables.parentElementField is defined %}
        {% set fieldHandle = variables.parentElementField.handle ~ '-fields-' ~ variables.handle %}
    {% endif %}

    {% set name = variables.name is defined ? variables.name : fieldHandle %}
    {% set value = variables.value ?? global.feed.fieldMapping[fieldHandle] ?? '' %}

    <tr class="{{ (variables.parentElementField is defined) ? 'element-sub-field' : '' }}">
        <td class="col-field">
            <div class="field">
                <div class="heading">
                    <label class="{% if variables.required is defined %}required{% endif %}">{{ variables.label }}</label>

                    {% if variables.instructions is defined %}
                        <div class="instructions">
                            <p>{{ variables.instructions | raw }}</p>
                        </div>
                    {% endif %}

                    {% if variables.instructionsHandle is defined %}
                        <div class="instructions">
                            <code>{{ variables.instructionsHandle }}</code>
                        </div>
                    {% endif %}
                </div>
            </div>
        </td>

        <td class="col-map">
            {% namespace 'fieldMapping' %}
                {{ forms.selectField({
                    name: name,
                    value: value,
                    options: global.feedData,
                }) }}

                <div class="field-extra-settings">
                    <div class="element-match">
                        <span>{{ 'Data provided for this element is:' | t }}</span>

                        {{ forms.selectField({
                            name: fieldHandle ~ '-options-match',
                            options: [
                                { value: 'id', label: 'ID' | t },
                                { value: 'title', label: 'Title' | t },
                                { value: 'slug', label: 'Slug' | t },
                            ],
                            value: global.feed.fieldMapping[fieldHandle ~ '-options-match'] ?? '',
                        }) }}
                    </div>
                </div>
            {% endnamespace %}
        </td>

        <td class="col-default">
            <div class="default-fields">
                {% if variables.default is defined %}
                    {{ variables.default | raw }}
                {% endif %}
            </div>
        </td>
    </tr>
{% endmacro %}


{% macro generateOrderNumberRow(global, variables) %}
    {% import "_includes/forms" as forms %}
    {% set fieldHandle = variables.handle %}

    {% if variables.parentElementField is defined %}
        {% set fieldHandle = variables.parentElementField.handle ~ '-fields-' ~ variables.handle %}
    {% endif %}

    {% set name = variables.name is defined ? variables.name : fieldHandle %}
    {% set value = variables.value ?? global.feed.fieldMapping[fieldHandle] ?? '' %}

    <tr class="{{ (variables.parentElementField is defined) ? 'element-sub-field' : '' }}">
        <td class="col-field">
            <div class="field">
                <div class="heading">
                    <label class="{% if variables.required is defined %}required{% endif %}">{{ variables.label }}</label>

                    {% if variables.instructions is defined %}
                        <div class="instructions">
                            <p>{{ variables.instructions | raw }}</p>
                        </div>
                    {% endif %}

                    {% if variables.instructionsHandle is defined %}
                        <div class="instructions">
                            <code>{{ variables.instructionsHandle }}</code>
                        </div>
                    {% endif %}
                </div>
            </div>
        </td>

        <td class="col-map">
            {% namespace 'fieldMapping' %}
                {{ forms.selectField({
                    name: name,
                    value: value,
                    options: global.feedData,
                }) }}

                <div class="field-extra-settings">
                    <div class="assets-uploads">
                        {{ _self.checkbox({
                            label: 'Auto-generate the order number.' | t,
                            name: fieldHandle ~ '-options-generate',
                            value: 1,
                            checked: global.feed.fieldMapping[fieldHandle ~ '-options-generate'] ?? '',
                        }) }}
                    </div>
                </div>
            {% endnamespace %}
        </td>

        <td class="col-default">
            <div class="default-fields">
                {% if variables.default is defined %}
                    {{ variables.default | raw }}
                {% endif %}
            </div>
        </td>
    </tr>
{% endmacro %}



{% macro checkbox(config) %}
    {%- spaceless %}

    {% set value = (config.value is defined ? config.value : 1) %}
    {% set id = (config.id is defined and config.id ? config.id : 'checkbox' ~ random()) %}
    {% set label = (config.label is defined ? config.label) %}

    <div class="field checkboxfield">
        <input type="checkbox" value="{{ value }}"
            {%- if id %} id="{{ id }}"{% endif %}
            class="checkbox"
            {%- if config.name is defined %} name="{{ config.name }}"{% endif %}
            {%- if config.checked is defined and config.checked %} checked{% endif %}>

        <label for="{{ id }}">{{ label | raw }}</label>
    </div>

    {% endspaceless -%}
{% endmacro %}

