{% if feed.elementGroup %}
    {% set groupId = feed.elementGroup[elementType] %}

    {% set group = craft.categoryGroups.getGroupById(groupId) %}
{% endif %}

{% set fields = [{
    label: 'Title' | t,
    handle: 'title',
    default: forms.textField({
        id: 'fieldDefaults-title',
        name: 'fieldDefaults[title]',
        value: feed.fieldDefaults.title ?? '',
    }),
}, {
    label: 'Slug' | t,
    handle: 'slug',
    instructions: 'If not set, the Slug will be automatically created from Title.' | t,
}, {
    label: 'Status' | t,
    handle: 'enabled',
    instructions: 'Choose either a default status from the list or the imported field that will contain the status.' | t,
    default: forms.selectField({
        id: 'fieldDefaults-enabled',
        name: 'fieldDefaults[enabled]',
        value: feed.fieldDefaults.enabled is defined ? feed.fieldDefaults.enabled : '',
        options: [
            { label: 'Don\'t import', value: '' },
            { label: 'Enabled', value: '1' },
            { label: 'Disabled', value: '0' },
        ],
    }),
}] %}

<h2>{{ 'Category Fields' | t }}</h2>

<table class="feedme-mapping data fullwidth collapsible">
    <thead>
        <th>{{ 'Field' | t }}</th>
        <th>{{ 'Feed Element' | t }}</th>
        <th>{{ 'Default Value' | t }}</th>
    </thead>
    <tbody>
        {% for field in fields %}
            {{ feedMeMacro.generateRow(_context, field) }}
        {% endfor %}
    </tbody>
</table>

{% for tab in craft.fields.getLayoutById(group.fieldLayoutId).getTabs() %}
    <hr>

    <h2>{{ tab.name }} Fields</h2>

    <table class="feedme-mapping data fullwidth collapsible">
        <thead>
            <th>{{ 'Field' | t }}</th>
            <th>{{ 'Feed Element' | t }}</th>
            <th>{{ 'Default Value' | t }}</th>
        </thead>
        <tbody>
            {% for fieldtype in tab.getFields() %}
                {% set field = fieldtype.getField() %}

                {% set variables = { field: field, feed: feed, feedData: feedData } %}
                {% include 'feedme/_includes/field' with variables %}
            {% endfor %}
        </tbody>
    </table>
{% endfor %}

<hr>

<h2>{{ "Set a unique identifier for existing elements" | t }}</h2>

<p>{{ "Select the fields you want to use to check for existing elements. When selected, Feed Me will look for existing elements that match the fields provided below and either update, or skip depending on your choice of Import Strategy." | t }}</p>

{% for tab in craft.fields.getLayoutById(group.fieldLayoutId).getTabs() %}
    {% for fieldtype in tab.getFields() %}
        {% set field = fieldtype.getField() %}

        {% set fields = fields | merge([{ label: field.name, handle: field.handle }]) %}
    {% endfor %}
{% endfor %}

<div class="feedme-uniques">
    {% for field in fields %}
        {{ forms.checkboxField({
            name: 'fieldUnique[' ~ field.handle ~ ']',
            label: field.label,
            checked: feed.fieldUnique[field.handle] ?? '',
        }) }}
    {% endfor %}
</div>
