

/* ==========================================================================
// Feeds Index
// ========================================================================== */

.fa {
    vertical-align: middle;
}

.fa-icon.direct .fa-external-link,
.fa-icon .fa-info-circle,
.fa-icon.debug .fa-bug {
    color: rgba(0, 0, 0, 0.2);
}

.fa-icon.direct:hover .fa-external-link,
.fa-icon:hover .fa-info-circle,
.fa-icon.debug:hover .fa-bug {
    color: #0d78f2;
}

body.ltr #feeds .thin.action {
    padding-left: 10px;
}

table#feeds .element-group-sub {
    display: block;
    font-size: 11px;
    line-height: 1.2;
    color: rgba(51, 63, 77, 0.5);
    font-weight: bold;
}




/* ==========================================================================
// Field-Mapping Step
// ========================================================================== */

.feedme-mapping th:nth-child(1) {
    width: 30%;
}

.feedme-mapping th:nth-child(2) {
    width: 40%;
}

.feedme-mapping th:nth-child(3) {
    width: 30%;
}

.feedme-mapping td.col-map .field .heading {
    font-size: 11px;
}

.feedme-mapping td.col-map .field {
    margin: 10px 0;
}

.feedme-mapping td.col-field .field > .heading {
    font-size: 12px;
    margin-bottom: 0;
}


/* Selectize */
/*.feedme-mapping .select:before {
    content: '';
    background: url(/cpresources/images/spinner_element.gif) no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
    position: absolute;
    top: calc(50% - 8px);
    right: 5px;
}*/

.feedme-mapping .select:after {
    display: none;
}

.feedme-mapping .select select {
    opacity: 0;
    display: block !important;
}

.feedme-mapping .select select.selectized {
    position: absolute;
    z-index: -1;
}

.feedme-mapping .selectize-input {
    padding: 6px 22px 5px 10px;
    border: 1px solid #e3e5e8;
    border-radius: 3px;
    overflow: visible;

    background-image: -webkit-linear-gradient(#fff, #fafafa);
    background-image: -moz-linear-gradient(#fff, #fafafa);
    background-image: -ms-linear-gradient(#fff, #fafafa);
    background-image: -o-linear-gradient(#fff, #fafafa);
    background-image: linear-gradient(#fff, #fafafa);

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.feedme-mapping .selectize-input.focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.feedme-mapping .selectize-input input {
    position: relative !important;
}

.feedme-mapping .selectize-control.single .selectize-input:after {
    font-family: 'Craft';
    speak: none;
    -webkit-font-feature-settings: "liga", "dlig";
    -moz-font-feature-settings: "liga=1, dlig=1";
    -moz-font-feature-settings: "liga", "dlig";
    -ms-font-feature-settings: "liga", "dlig";
    -o-font-feature-settings: "liga", "dlig";
    font-feature-settings: "liga", "dlig";
    text-rendering: optimizeLegibility;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    text-align: center;
    font-style: normal;
    vertical-align: middle;
    word-wrap: normal !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    position: absolute;
    z-index: 1;
    top: calc(50% - 5px);
    font-size: 10px;
    content: '▼';
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: none;

    margin: 0 !important;
    border: none;
}

.feedme-mapping .selectize-input div[data-value="noimport"] {
    color: #b9bfc6;
}

.feedme-mapping .selectize-dropdown [data-selectable],
.feedme-mapping .selectize-dropdown .optgroup-header {
    padding: 3px 10px;
    font-size: 12px;
}

.feedme-mapping .selectize-dropdown-content {
    max-height: 600px;
}

.feedme-mapping td.col-map > .field .input .select {
    display: block;
}


.feedme-mapping .field-extra-settings {
    font-size: 11px;
}

.feedme-mapping .field-extra-settings input.checkbox + label:before,
.feedme-mapping .field-extra-settings div.checkbox:before {
    top: 0;
}


.feedme-mapping .field-extra-settings .assets-uploads .asset-label-hide {
    visibility: hidden;
}

.feedme-mapping .field-extra-settings .assets-uploads .checkboxfield {
    float: left;
    margin-right: 10px;
    padding-top: 0;
    margin-bottom: 3px;
    z-index: 1;
}

.feedme-mapping .field-extra-settings .assets-uploads .select {
    opacity: 0;
    visibility: hidden;
}

.feedme-mapping .field-extra-settings .assets-uploads .selectize-input {
    padding: 5px 22px 5px 10px !important;
    font-size: 11px;
    line-height: 11px;
    display: inline !important;
}

.feedme-mapping .field-extra-settings .assets-uploads .selectize-dropdown [data-selectable],
.feedme-mapping .field-extra-settings .assets-uploads .selectize-dropdown .optgroup-header {
    padding: 3px 8px;
    font-size: 11px;
}

.feedme-mapping .field-extra-settings .element-match span {
    float: left;
    margin-right: 10px;
    padding-top: 2px;
    margin-bottom: 0;
    z-index: 1;
}

.feedme-mapping .field-extra-settings .element-match .selectize-input {
    padding: 5px 22px 5px 10px !important;
    font-size: 11px;
    line-height: 11px;
    display: inline !important;
}

.feedme-mapping .field-extra-settings .element-match .selectize-dropdown [data-selectable],
.feedme-mapping .field-extra-settings .element-match .selectize-dropdown .optgroup-header {
    padding: 3px 8px;
    font-size: 11px;
}

.feedme-mapping .element-sub-field td {
    background: #fafafa;
}

.feedme-mapping .element-sub-field .col-field {
    padding-left: 30px;
}

.feedme-mapping .element-sub-field .col-default {
    padding-right: 30px;
}

.feedme-mapping .element-sub-field td.col-field .field > .heading {
    font-size: 11px;
    margin-bottom: 0;
}

.feedme-mapping .element-sub-field td.col-field .field > .heading > .instructions {
    margin-top: -2px;
}

.feedme-mapping .element-sub-field .fa-level-up {
    float: left;
    display: block;
    height: 100%;
    color: #cacaca;
    margin-left: -18px;
    margin-top: 3px;

    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}





/* ==========================================================================
// Full Page Screens for Error/Success
// ========================================================================== */

.feedme-fullpage {
    text-align: center;
    max-width: 40em;
    margin: 24px auto 48px;
}

.feedme-fullpage h2 {
    font-size: 18px;
}

.feedme-fullpage img {
    width: 70px;
}

.feedme-fullpage .buttons {
    display: inline-block;
    margin-top: 15px;
}

.feedme-fullpage .progress-container {
    display: inline-block;
    margin-top: 15px;
}

.feedme-success-btns {
    margin-top: 2em;
}

.feedme-success-btns a:first-child {
    margin-right: 1em;
}

.feedme-status-spinner {
    text-align: center;
    padding: 6rem;
}




/* ==========================================================================
// Direct Feed Additional Styles
// ========================================================================== */

body.feedme-message .message-container .pane {
    width: 36em;
    padding: 2em;
    margin: 0 auto !important;

    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

body.feedme-message .feedme-fullpage {
    margin-bottom: 24px;
}




/* ==========================================================================
// Help Form
// ========================================================================== */

.feedme-help-form {
    width: 320px;
    margin-bottom: 40px;
}

.feedme-help .fa {
    color: #bbb;
    font-size: 15px;
    vertical-align: bottom;
    margin-right: 2px;
}

.feedme-help .contact-block {
    margin-bottom: 20px;
}

.feedme-help .contact-block h3,
.feedme-help .contact-block p {
    margin: 5px 0 0 0;
}

.feedme-help-form .errors {
    margin-top: 20px;
}

.feedme-help ul.feedme-info {
    list-style: initial;
    margin-left: 20px;
    margin-top: -6px;
    margin-bottom: 30px;
}

.feedme-help ul.feedme-info li {
    font-size: 12px;
    color: #8f98a3;
}



/* ==========================================================================
// Plugin License
// ========================================================================== */

#loading-status { display: inline-block; padding: 6px 0; }

.reg-header { position: relative; min-height: 150px; box-sizing: border-box; padding-top: 50px; }
body.ltr .reg-header { padding-left: 150px; padding-right: 25px; }
body.rtl .reg-header { padding-right: 150px; padding-left: 25px; }
#unknown-license-header { padding-top: 42px; }

.reg-header img { position: absolute; top: 25px; }
body.ltr .reg-header img { left: 25px; }
body.rtl .reg-header img { right: 25px; }

.reg-header h2 { margin: 0; font-size: 20px; }
.reg-header p { margin-top: 0.5em; max-width: 515px; }

.license-meta { margin: 50px 0 25px; }
.license-meta > .data { padding: 0 !important; }
.license-meta > .data .heading { width: 125px; }
body.ltr .license-meta > .data .heading { text-align: right; }
body.rtl .license-meta > .data .heading { text-align: left; }
.license-meta > .data .value { width: calc(100% - 150px); }

body.ltr .indented { margin-left: 150px; }
body.rtl .indented { margin-right: 150px; }

#license-key-wrapper { display: inline-block; }

@media only screen and (max-width: 768px) {
    .reg-header { min-height: 0; padding: 0 !important; text-align: center; }
    .reg-header img { position: static; margin-bottom: 14px; }

    .meta > .data { display: block; }
    .license-meta > .data .heading,
    .license-meta > .data .value { width: auto; }
    body.ltr .license-meta > .data .heading { text-align: left; }
    body.rtl .license-meta > .data .heading { text-align: right; }

    #license-key-wrapper { display: block; margin-bottom: 24px; }
    #license-key-wrapper input { width: 100%; }

    body.ltr .indented { margin-left: 0; }
    body.rtl .indented { margin-right: 0; }
}



/* ==========================================================================
// Welcome Screen
// ========================================================================== */

.feedme-welcome {
    text-align: center;
    margin: 0 auto;
}

.feedme-welcome h1 {
    font-size: 28px;
}

.feedme-welcome img {
    width: 120px;
    margin: 20px 0 30px;
}

.feedme-welcome .btn-start {
    font-size: 15px;
    padding: 14px 28px;
    height: auto;
    margin-top: 20px;
}

.feedme-welcome .or {
    display: block;
    padding: 10px;
    font-style: italic;
}

.feedme-welcome .btn .fa {
    margin-left: 5px;
}




/* ==========================================================================
// Plugin Footer
// ========================================================================== */

#plugin-footer {
    margin: 24px 0 0 0;
    width: 100%;
}

#plugin-footer .footer-left {
    float: left;
}

#plugin-footer .footer-right {
    float: right;
}

#plugin-footer .plugin-credit {
    font-size: 11px;
    color: #8f98a3;
    text-align: right;
    margin-top: 10px;
}

