.duplicateHandle input.checkbox + label {
	display: block;
}

span.info {
	vertical-align: top;
}

.fa {
	vertical-align: middle;
}

.fa-icon.direct .fa-external-link {
	color: rgba(0, 0, 0, 0.2);
}

.fa-icon.direct:hover .fa-external-link {
	color: #0d78f2;
}

body.ltr table.data td:last-child {
	padding-left: 10px;
}

#plugin-footer {
	margin: 24px 0 0 0;
	width: 100%	
}

#plugin-footer .footer-left {
	float: left;
}

#plugin-footer .footer-right {
	float: right;
}

#plugin-footer .plugin-credit {
	font-size: 11px;
	color: #8f98a3;
	text-align: right;
	margin-top: 10px;
}

.feedme-help-form {
	width: 320px;
	margin-bottom: 40px;
}

.feedme-help .fa {
	color: #bbb;
	font-size: 15px;
	vertical-align: bottom;
	margin-right: 2px;
}

.feedme-help .contact-block {
	margin-bottom: 20px;
}

.feedme-help .contact-block h3,
.feedme-help .contact-block p {
	margin: 5px 0 0 0;
}

.feedme-help-form .errors {
	margin-top: 20px;
}

.feedme-help ul.feedme-info {
	list-style: initial;
	margin-left: 20px;
	margin-top: -6px;
	margin-bottom: 30px;
}

.feedme-help ul.feedme-info li {
	font-size: 12px;
	color: #8f98a3;
}
