{% extends 'feed-me/_layouts' %}

{% set crumbs = [
    { label: craft.feedme.getPluginName|t('feed-me'), url: url('feed-me') },
    { label: feed.name|t('feed-me'), url: url('feed-me/feeds/' ~ feed.id) },
] %}

{% set title = feed.name %}

{% set title = (feed.id) ? feed.name : 'Create a new feed'|t('feed-me') %}
{% set noTabs = true %}

{% block content %}
    <div class="feedme-fullpage fullpage-running fullpage-running-cp">
        <img src="{{ baseAssetsUrl ~ '/img/icon-success.svg' }}">

        <h2>{{ '{name} has been saved.'|t('feed-me', { name: feed.name }) }}</h2>

        <div class="feedme-success-btns">
            {% apply spaceless %}
                {{ tag('a', {
                    class: ['btn', 'submit'],
                    href: url('feed-me/feeds/run/' ~ feed.id),
                    text: 'Process it now'|t('feed-me'),
                }) }}
                {{ tag('a', {
                    class: ['btn'],
                    href: url('feed-me/feeds'),
                    text: 'View feeds'|t('feed-me'),
                }) }}
            {% endapply %}
        </div>
    </div>

    {{ parent() }}
{% endblock %}
