{% if feed.elementGroup %}
    {% set sourceId = feed.elementGroup[elementType] %}

    {% set source = craft.feedMe.getAssetSourceById(sourceId) %}
    {% set folders = craft.feedMe.getAssetFolderBySourceId(sourceId) %}
{% endif %}

{% set fields = [{
    label: 'Title' | t,
    handle: 'title',
    default: forms.textField({
        id: 'fieldDefaults-title',
        name: 'fieldDefaults[title]',
        value: feed.fieldDefaults.title ?? '',
    }),
}, {
    label: 'Filename' | t,
    handle: 'filename',
    instructions: 'The filename for this asset (not including the path).' | t,
    required: true,
}, {
    label: 'Folder' | t,
    handle: 'folderId',
    instructions: 'Select the folder name this asset will be uploaded into.' | t,
    default: forms.selectField({
        id: 'fieldDefaults-folderId',
        name: 'fieldDefaults[folderId]',
        value: feed.fieldDefaults.folderId ?? '',
        options: folders,
    }),
}, {
    label: 'Asset ID' | t,
    handle: 'id',
    instructions: '<strong class="error">Warning: </strong>This should only be used for an existing Craft Asset ID.' | t,
    default: forms.textField({
        id: 'fieldDefaults-id',
        name: 'fieldDefaults[id]',
        value: feed.fieldDefaults.id ?? '',
    }),
}] %}

<h2>{{ 'Asset Fields' | t }}</h2>

<table class="feedme-mapping data fullwidth collapsible">
    <thead>
        <th>{{ 'Field' | t }}</th>
        <th>{{ 'Feed Element' | t }}</th>
        <th>{{ 'Default Value' | t }}</th>
    </thead>
    <tbody>
        {% for field in fields %}
            {% if field.handle == 'filename' %}
                {{ feedMeMacro.generateAssetRow(_context, field) }}
            {% else %}
                {{ feedMeMacro.generateRow(_context, field) }}
            {% endif %}
        {% endfor %}
    </tbody>
</table>

{% for tab in craft.fields.getLayoutById(source.fieldLayoutId).getTabs() %}
    <hr>

    <h2>{{ tab.name }} Fields</h2>

    <table class="feedme-mapping data fullwidth collapsible">
        <thead>
            <th>{{ 'Field' | t }}</th>
            <th>{{ 'Feed Element' | t }}</th>
            <th>{{ 'Default Value' | t }}</th>
        </thead>
        <tbody>
            {% for fieldtype in tab.getFields() %}
                {% set field = fieldtype.getField() %}

                {% set variables = { field: field, fieldtype: fieldtype, feed: feed, feedData: feedData } %}
                {% include 'feedme/_includes/field' with variables %}
            {% endfor %}
        </tbody>
    </table>
{% endfor %}

<hr>

<h2>{{ "Set a unique identifier for existing elements" | t }}</h2>

<p>{{ "Select the fields you want to use to check for existing elements. When selected, Feed Me will look for existing elements that match the fields provided below and either update, or skip depending on your choice of Import Strategy." | t }}</p>

{% for tab in craft.fields.getLayoutById(source.fieldLayoutId).getTabs() %}
    {% for fieldtype in tab.getFields() %}
        {% set field = fieldtype.getField() %}

        {% set fields = fields | merge([{ label: field.name, handle: field.handle }]) %}
    {% endfor %}
{% endfor %}

<div class="feedme-uniques">
    {% for field in fields %}
        {{ forms.checkboxField({
            name: 'fieldUnique[' ~ field.handle ~ ']',
            label: field.label,
            checked: feed.fieldUnique[field.handle] ?? '',
        }) }}
    {% endfor %}
</div>
